<div id="how-to-get-a-loan">

    <h4><b>GET A LOAN SUPER QUICK!</b></h4>

    <div class="super-quick"></div>
    <br>
    Our application process saves you time and energy while easing up your overall experience<br>
    Getting a loan is definitely achievable with the help of InvestorsWallet. No longer do you have

    to run in circles trying to get a grip on complicated loan application procedures. Applying for a

    loan is quite simple at InvestorsWallet.
    <br> <br>


    <h4 class="primary"><b>How to apply?</b></h4>

    <p> The application process for loans operates through the following steps:</p>
    <ul class="arrow-circle-o-right">
        <li>You should first create your own loan account at
            InvestorsWallet by entering in information throughout all application fields and sections.
        </li>
        <li>Once your application has been verified, you should
            clearly post your requirements through the listings with all necessary details.
        </li>
        <li>Arrange to receive loan amounts in your account post
            agreeing to terms and conditions with the lender.
        </li>
    </ul>

    <br>
    <h4 class="primary"><b>Who’s eligible? </b></h4>
   Ineligibility is certainly difficult to achieve with our smooth loan eligibility criteria!
    <p>Loan borrowers are required to meet standard eligibility norms and standards. These include the

        following:</p>
    <ul class="arrow-circle-o-right">
        <li>The borrower is required to be an Indian resident.</li>
        <li>The age of the borrower must be a minimum of 21 years.
        </li>
        <li>The borrower must possess a government identity proof
            which is currently valid.
        </li>
        <li>The borrower should earn at least INR 20, 000 monthly if
            salaried or at least INR 40, 000
            in case of self employed professionals and businessmen.
        </li>
        <li>The borrower should have a valid bank account.</li>
    </ul>
    <br>

    <h4 class="primary"><b>Necessary Documents</b></h4>
    We believe in keeping documentation to a minimum for your benefit

    <p>You should posses the following documents at the time of verification:</p>
    <ul class="arrow-circle-o-right">
        <li>Proof of age</li>
        <li>Government ID Proof</li>
        <li>Proof of Signature</li>
        <li>Photographs</li>
        <li>Proof of Address</li>
        <li>Proof of Employment</li>
        <li>Proof of Income</li>
        <li>Proof of Contact Details</li>
        <li>Bank Statement</li>
    </ul>
    <br>
    As can be seen, the entire loan application process is borrower friendly, transparent and super

    fast. All you need to do is read our terms and conditions carefully along with the eligibility

    criteria for getting loans.
    <br>
    Happy borrowing! <br><br>
</div>