<div role="tabpanel" class="tab-pane" id="interest-rates"><h4><b>RATES DECODED</b></h4>
    <br>
    <br>
    <i> Rates </i> is one term that all borrowers and lenders would be examining with more than usual

    interest! Coming to the point, rates for borrowing are usually fixed on the basis of deals struck by

    lenders and borrowers. Borrowers are provided offers by lenders at rates that lenders find

    comfortable depending upon the listing showcased by the borrower.<br>
    Informed decisions regarding rates are taken by lenders after examining the credit worthiness

    and financial track record of the borrower in question in addition to the purpose of the loan,

    financial status, work experience, employer and income details in addition to details of monthly

    expenditures.

    <h4 class="primary"><b>FEES</b></h4>
    <i>Don’t worry; we are as nominal as can be!</i>
    There are some specific fees that apply for all borrowers. These include the following: <br> <br>
    <ul class="arrow-circle-o-right">
        <li><b>Registration-</b>&nbsp;A one time, non refundable fee
            of INR 500 is charged at the time of

            registration
        </li>
        <li><b>Loan Processing-</b>&nbsp;3% of the loan amount is
            required to be paid during loan disbursal
        </li>
        <li><b>Pre-Payment Charges-</b>&nbsp;InvestorsWallet has no
            prepayment charges. However, 2% is

            charged in case of pre-payment of a year’s loan within 3 months, 3% is charged in case a

            two year loan is paid in full by 6 months and the same percentage applies in case of pre-

            payment within 6 months of 3 year loans.
        </li>
        <li><b>Late Payments-</b>&nbsp;EMIs paid after the 5th of
            every month will merit added interest of 3%

            per annum on the loan amount that is still outstanding.
        </li>
        <li><b>Charges for Cheque/NACH/ECS/SI Bounces-</b>&nbsp;INR
            500 is charged for every bounce at

            InvestorsWallet.com
        </li>
        <li><b>Repayment Instruction Swap-</b>&nbsp;Changes in payment
            modes or cheque replacements will

            merit fees of INR 500.
        </li>
        <li><b>Stamp Duty-</b>&nbsp;Loan agreements are required to be
            stamped and cost of stamp duty will be

            charged on the actual. This charge will be debited while collecting the processing fee.
        </li>
        <li><b>Collection/Legal Charges-</b>&nbsp;These charges come
            into effect in case of periodic and long

            term defaulters.
        </li>
        <li><b>Documentation Charge-</b>&nbsp;We do not charge
            anything under this category.
        </li>
        <li><b>Amortization Schedule Charges-</b>&nbsp;Since this is
            readily made available online, there are

            no charges levied on you.
        </li>
        <li><b>No Dues Certificate-</b>&nbsp;This certificate is also
            available online and hence no charges are

            levied for the same.
        </li>
        <li><b>Service Tax-</b>&nbsp;Service tax is charged wherever
            applicable.
        </li>
    </ul>
    <br>
    <br>
</div>
