<div role="tabpanel" class="tab-pane" id="responsible-borrowing">
    <h4><b>WHO IS A GOOD BORROWER?</b></h4>

    <div class="super-quick"></div>

    <br>

    <p>At InvestorsWallet, we have a concise definition of who a good borrower might be! We

        encourage all our borrowers to emulate our ideal borrower who does not leave any stone

        unturned when it comes to maintaining professionalism, transactional credibility and integrity at

        all times. The reasons and purposes behind taking a loan should be crystal clear to the borrower

        himself/herself. Background checks and self assessments should be conducted prior to finalizing

        a loan listing. Peer to peer lending usually works well owing to the faster, smoother and hassle

        free nature of the process along with lower interest rates as compared to the market.</p>
    <ul class="arrow-circle-o-right">
        <li>
            <b>A good borrower is one who cuts his dress according to his cloth-  </b>
            <p class="borrowing-text">
                A good borrower will definitely understand overall affordability of the loan amount in relation to
                this monthly income, savings and other factors. Good borrowers only draw loans that they can
                afford without any excesses or frills. Good borrowers ensure that their EMIs remain only a
                fraction of their monthly incomes.
            </p>
        </li>

        <li>
            <b>Good borrowers pay their EMIs on time</b>
            <p class="borrowing-text">
                It goes without saying that the first hallmark of a good buyer is his/her track records with regard
                to paying EMIs within stipulated timelines every month without fail. Good borrowers also have
                surplus savings set aside for a month or two in order to ensure smooth disbursal of EMI
                payments.
            </p>
        </li>
        <li>
            <b>Good borrowers repay their loans within the fixed tenure </b>
            <p class="borrowing-text">Good borrowers always repay their loans within pre-fixed tenures without any defaults.</p>

        </li>
        <li>
            <b>Good borrowers analyze the fine print before striking deals with lenders</b>
            <p class="borrowing-text">A good borrower always understands the terms and conditions clearly along with his/her overall
                liability. Interest rates, payment terms, added fees and other information are always assessed by
                good borrowers before agreeing to the loan.
            </p>
        </li>
        <li>
            <b>Good borrowers offer clear information and explanations to lenders </b>
            <p class="borrowing-text">
                Good borrowers are always upfront with necessary information and strive to answer lender
                queries promptly. Good borrowers always offer transparent explanations on loan purposes and
                do their best to clarify any doubts in good time.
            </p>
        </li>

        <li>
            <b>Good borrowers try to pre-pay loans whenever  </b>
            <p class="borrowing-text">
                A good borrower always tries to pre-pay the loan with periodic amounts whenever possible. This
                only increases goodwill and overall credit worthiness.

            </p>
        </li>
    </ul>
    <p>These are some of the essential qualities of good borrowers and qualities that we encourage in all

        loan applicants at InvestorsWallet.

        If you’re interested in adding to the list, drop us a mail right away!</p><br><br>
</div>
