<section id="about-page" data-spy="scroll" data-target="#fixaffix"  data-offset="270">
    <div class="bg-image">
        <div class="bg-color">
            <div class="jumbotron text-center">
                <h1><span class="primary">About us</span></h1>
            </div>
            <div class="container breadcrumb">
                <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;About us
            </div>
        </div>
    </div>



    <div class="container">
              <div class="row content">
<!--
            <div class="col-sm-12"><h4><b>About Us: </b></h4><div class="super-quick"></div></div>
-->
            <div class="col-sm-9">
               <p>

                Have you been seeking an efficient platform for borrowing or lending money at your

                convenience and minus the hassles of bank loans? InvestorsWallet is your one stop destination

                for the same. We do not believe in subjecting you to the thousands of mini hassles encountered

                during the application process for a bank loan. Let’s face it; bank loans and grey market

                borrowing both have their fair share of problems. </p>    <p>

                We got together to solve the basic problem, i.e. how to attain short term loans without all these

                underlying hassles ingrained in our financial system? The answer is InvestorsWallet with

                innovative integration for lenders as well. Using our platform, borrowers can reach out to

                innumerable lenders and strike up convenient repayment terms and interest rates which are way

                lower than traditional rates in the market. At the same time, lenders can also strike up deals with

                borrowers and seek mutually beneficial propositions which stimulate greater returns on

                investment made over a period of time.      </p><p>
                That, in a nutshell is what InvestorsWallet is all about; we possess countless experience in

                creating this mutually beneficial symbiosis between borrowers and lenders and have tons of

                happy customers under our belt. Experience, safety, due diligence and expertise are the core

                strengths of InvestorsWallet.com.</p>
                <p>
                    Our core team comprises of seasoned and experienced professionals from diverse industries with

                    proven and time tested expertise across several industry areas. Here are little snippets on the cogs

                    in our wheel:         </p>      <p>

                <h4 class="primary"><b> N. Kumar </b></h4>
                <p><b>Startup expert, Marketing Guru & Execution Specialist</b></p>
                Mr. Kumar is as passionate

                about growth as finding new age solutions to basic problems. A workaholic by nature, Mr.

                Kumar holds a Masters in Marketing & Advertising and a post graduation degree in Information

                Technology. A trained six sigma black belt and expert in ISO implementation, Mr. Kumar

                possesses a whopping 17 years of experience in establishing and mentoring startups and various

                organizations.       </p>   <p>

                <h4 class="primary"><b> Sheetal Rani </b></h4>
                <p><b>Creative Director</b></p>
                Ms. Rani specializes in lending her unique touch to design and

                creative elements and spearheads all design and development processes at InvestorsWallet,

                emphasizing highly on interactive quotients of websites and top notch aesthetics. Originality and

                vivacity are her middle names.         </p>   <p>

                <h4 class="primary"><b>  Dhruv Mittal </b></h4>
                <p><b>Advisor, Wealth Maximization & International Law Expert</b></p>
                Mr. Mittal holds

                considerable experience in steering leading global and domestic firms with regard to scaling up

                shareholder value and is a qualified chartered accountant. Mr. Mittal possesses demonstrated and

                vast expertise in international and domestic laws in addition to taxation laws. His core specialty

                lies in structuring organizations, processes and work systems for maximizing creation of wealth

                and adherence to corporate governance standards.     </p>   <p>

                InvestorsWallet is your ultimate lending cum borrowing marketplace/platform/solution whatever

                you choose to call us. We believe in building transparent and innovative businesses for the long

                haul and operate on the basis of the universal adage,<b><i> Customer is king.  </i></b>   </p>

                Come, experience InvestorsWallet today and enter a whole new world of financial liberation!
            </div>
            <div class="col-sm-3 hidden-xs" data-spy="affix" data-offset-top="270" data-offset-bottom="360">

                <div class="sat-cus iw-p-s text-center"  >
                    <div id="fixaffix" class="fix-testimonial">
                        <h4 class="">SATISFIED CUSTOMERS</h4>
                        <div class="primary">
                            You are responsible for maintaining the confidentiality of the user name and password assigned to You

                            by the website. However, certain information provided by You to the Website may be saved in the form

                            of cookies while
                            However, certain information provided by You to the Website may be saved in the form

                            of cookies while

                        </div>
                        <div class="text-right">
                            <h4 class="title-text">MS. Deepali </h4>
                            <h5 class="font-style title-text"> Entrepreneur,InvestorWallet.com</h5>
                        </div>
                    </div>


                </div>

            </div>
            <div class="col-xs-12 visible-xs iw-mt-m" >

                <div class="sat-cus iw-p-s text-center"  >
                    <div>
                        <h4 class="">SATISFIED CUSTOMERS</h4>
                        <div class="primary">
                            You are responsible for maintaining the confidentiality of the user name and password assigned to You

                            by the website. However, certain information provided by You to the Website may be saved in the form

                            of cookies while
                            However, certain information provided by You to the Website may be saved in the form

                            of cookies while

                        </div>
                        <div class="text-right">
                            <h4 class="title-text">MS. Deepali </h4>
                            <h5 class="font-style title-text"> Entrepreneur,InvestorWallet.com</h5>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>

</section>