<section class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">Borrower Profile</span></h1>

        </div>
        <!--<div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Loan Offers
        </div>-->
    </div>
</section>
<section id="borrower-details">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
	 			<div class="box">
	 				<i class="fa fa-user fa-5x"></i>
	 			</div>
			</div>
			<div class="col-sm-9">
	 			<div class="name">
	 				<h1><span>{{user.first_name}}</span> <span ng-if="user.middle_name"> {{user.middle_name}} </span> <span>{{user.last_name}}</span> </h1>
	 			</div>
	 			<div class="gender">
	 				Gender: {{user.gender|normalize}}
	 			</div>	
	 			<div class="marital_status">
	 				Marital Status: {{user.marital_status|normalize}}
	 			</div>	
	 			<div class="rating">
	 				Risk Rating: {{user.rating}}
	 			</div>
	 			<div class="city">
                    Correspondence City: {{user.correspondence_address.city|normalize}}
	 			</div>
	 		</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h3>Educational Details</h3>
				<div class="graduation">
					{{user.educational_qualification.qualification}}
				</div>
				<div class="sub-details">
					{{user.educational_qualification.institute_name}}, {{user.educational_qualification.passing_year}}
				</div> 
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h3>Professional Details</h3>
				<div class="graduation">
					{{user.professional_details.qualification}}
				</div>
				<div class="sub-details">
					{{user.professional_details.institute_name}}, {{user.professional_details.passing_year}}
				</div> 
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h3>Financial Details</h3>
				<div class="sub-details">
                    <p> Bank Name:{{user.financial_details.bank_name|normalize}}</p>
                    <p> Annual Income:{{user.financial_details.annual_income||150000}}</p>
                    <p>Annual Expenses: {{user.financial_details.annual_expenses||80000}}</p>

				</div> 
			</div>
		</div>
	</div>
</section>