<div class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">Loans</span> made simpler</h1>

        </div>
        <div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Get a loan
        </div>
    </div>
</div>
<section id="process-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3 process-page-sidebar">
                <ul class="nav">
                    <li role="presentation" ui-sref-active="active"><a ui-sref="how-to-borrow">How to borrow</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref="borrower_register">Getting Started</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref="interest-rate-fee">Interest rates and fees</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref="responsible-borrowing" >Responsible Borrowing</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref="create-effective-listing" >How to create effective listing</a></li>
                    <li role="presentation" ui-sref-active="active"><a ng-href="/loan-request/list" >Browse Listing</a></li>
                    <li role="presentation">
                        <a  href="/documents/borrower_registration_agreement.pdf" target="_blank">Borrower Registration Agreement</a>
                    </li>
                    <li role="presentation" >
                        <a href="/documents/loan_agreement_between_borrower_and_lender.pdf" target="_blank">Agreement Between Lender and Borrower</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8 col-md-9">
                <div ui-view></div>
            </div>

        </div>
    </div>
</section>
