<section id="contact-page">

    <div class="bg-image">
        <div class="bg-color">
            <div class="jumbotron text-center">
                <h1><span class="primary">Contact</span> us</h1>

            </div>
            <div class="container breadcrumb">
                <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Contact us
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row content">
            <div class="col-sm-4 col-md-6 iw-mt-s">
                <div>
                    <address>
                        <strong class="primary">{{iw.config.company_name}}</strong>
                        <br>
                        Plot No. 2236, Basement, Sector 46, <br>
                        Gurgaon, Haryana
                        India, 122002
                    </address>
                    <address>
                        <strong class="primary">Phone No:</strong>
                        <br>
                        ph:{{iw.config.contact_number}}
                    </address>
                    <address>
                        <strong class="primary">Email Address:</strong>
                        <br>
                        {{iw.config.contact_email}}
                    </address>
                </div>

            </div>

            <div class="col-sm-8 col-md-5 col-md-offset-1" ng-controller="EnquiryCtrl">
                <h4 class="primary">
                    <b>   Write an enquiry for any issues or concern.</b>
                </h4>

                <form name="contact">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name"  validator="required" class="form-control" id="name" placeholder="Name"  ng-model="fields.name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email"  validator="required,email" class="form-control" id="email" placeholder="Email"  ng-model="fields.email">
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" name="subject"  validator="required" class="form-control" id="subject" placeholder="Subject"  ng-model="fields.subject">
                    </div>
                    <div class="form-group">
                        <label for="subject">Message</label>
                        <textarea  name="message"  validator="required" placeholder="Message"  ng-model="fields.message"  class="form-control" rows="5"></textarea>
                    </div>
                    <div class="form-group text-right">
                        <input class="btn  btn-primary" validation-submit="contact" ng-click="submit()" type="submit" value="Submit">
                    </div>
                </form>
            </div>

            <div class="col-sm-12">
                <div ng-controller="MapCtrl">
                    <div id="map"></div>
                </div>

            </div>
        </div>
    </div>

</section>