<div class="well well-sm">
<div class="panel">
    <div class="panel-heading">
        <h4 class="title-text text-center">Documents</h4>
    </div>
    <div class="panel-body">
        <ul>
            <li>ID Proof</li>
            <li>Age Proof</li>
            <li>Signature Proof</li>
            <li>Address Proof</li>
            <li>Photographs Proof</li>
            <li>Income Proof</li>
            <li>Bank Statement</li>
        </ul>
    </div>

</div>
    <div class="panel">
        <div class="panel-body">
            <ul>
                <li><a ng-href="">Responsible Borrowing</a></li>
                <li><a ng-href="">Get Started</a></li>
            </ul>
        </div>

    </div>
</div>