<section id="faq" data-spy="scroll" data-target="#fixaffix2"  data-offset="250">
    <div class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">FAQ</span></h1>
        </div>
        <div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;FAQ
        </div>
    </div>
</div>
    <div class="container">

<div class="row">
    <div class="col-sm-8 col-md-9">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title">
                    <h4 class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        1. Who are we?
                    </h4>
                </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    InvestorsWallet is a one stop online community cum platform for linking prospective

                    borrowers and lenders. We facilitate direct deal making with regard to loan transactions between

                    lenders and borrowers and provide verification checks and all other necessary services in this

                    regard.                 </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title">
                    <h4 class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        2. Are we a financial institution?                    </h4>
                </a>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    We are not a financial institution involved in banking or loan processes. We are an

                    organization that only facilitates peer to peer loans amongst borrowers and lenders and performs

                    related services for customers as per industry guidelines.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title">
                    <h4 class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        3. What regulations are we bound by?                    </h4>
                </a>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Being an online hub cum marketplace for linking borrowers and lenders and facilitating

                    loan transactions, we do not fall under RBI specified regulation guidelines. We are only service

                    providers in our field.                 </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title">
                    <h4 class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                        4. How does the system work?   </h4>             </a>
            </div>
            <div id="collapsefour" class="panel-collapse collapse">
                <div class="panel-body">
                    We help borrowers reach out to willing lenders by publishing their listings post

                    registration. All necessary information and documents provided by borrowers is verified prior to

                    publishing the listing. A phone call is made to confirm borrower interest and the credit

                    verification team takes over thereafter. Post verification, borrowers have to enter other financial,

                    personal and employment details in a bid to establish credit worthiness. Loans from INR 25,

                    000-5, 00, 000 can be garnered using our online marketplace but it all depends on repayment

                    ability and overall credit record. Willing and bidding lenders will be visible to listed borrowers

                    and you have to strike up a deal in addition to specific terms and conditions. Offers can be placed

                    on the listing page by lenders and you can choose from the same as well.

                    Lenders and borrowers can send offers and requests to specific individuals on the basis of

                    provided information. The listing is closed upon the receipt of funding by the borrower and

                    acceptance of the loan amount. We handle all documentation and related transactional duties for

                    both parties thereafter.                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title">
                    <h4 class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                        5. How do I join?                      </h4>
                </a>
            </div>
            <div id="collapsefive" class="panel-collapse collapse">
                <div class="panel-body">
                    You can join if you meet the following basic criteria:

                     Minimum 21 years of age

                     Legal Indian resident and proper citizenship

                     Valid savings bank account                   </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title">
                    <h4 class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                        6. Why will you get cheaper loans at InvestorsWallet?                    </h4>
                </a>
            </div>
            <div id="collapsesix" class="panel-collapse collapse">
                <div class="panel-body">
                    vestorsWallet works through a peer to peer lending system which facilitates

                    transactions between borrowers and lenders and subsequent agreements. Interest rates are fixed

                    by the borrowers and lenders and we only charge a fixed transactional fee. We do not believe in

                    money making through differences in borrowing and lending rates. Through our internet backed

                    technology and efficient processes, we successfully lower capital expenditure on locational,

                    manpower and infrastructure costs. The lowered benefits are passed onto our customers in

                    keeping with our Customer first policy.                   </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title">
                    <h4 class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
                                       7. What do we charge?
                    </h4>
                </a>
            </div>
            <div id="collapseseven" class="panel-collapse collapse">
                <div class="panel-body">
                    We only charge fees for services that are rendered to customers and these are bound to

                    be considerably lower than you thought! We only charge a one time registration fee of INR 500

                    and 3% of the loan amount is charged as the borrower’s processing fee post closing the loan

                    while lenders only have to pay 1.5% of the lending amount as transactional fees. All details of

                    rates and fees are transparently updated on our website.                 </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title">
                    <h4 class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseeight">
                        8. Is personal information made available to other parties in the community?                     </h4>
                </a>
            </div>
            <div id="collapseeight" class="panel-collapse collapse">
                <div class="panel-body">
                    We have a strict policy of not disclosing personal information of lenders or borrowers

                    to third parties. We only share information for transaction related purposes between lenders and

                    borrowers. Information such as loan purpose, requirement, employment information and

                    educational background are made available for our registered community in the form of listings.

                    No contact details are shared between two parties in this system. You can view our Privacy

                    Policy for more information in this regard.                 </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title">
                    <h4 class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsenine">
                        9. What if we hit Doomsday?                    </h4>
                </a>
            </div>
            <div id="collapsenine" class="panel-collapse collapse">
                <div class="panel-body">
                    With innovative and new age processes and significantly lower operational costs than

                    industry peers, the chances of InvestorsWallet closing down or shutting shop are remote to say

                    the least. However, just to assuage your doubts, all loans closed through InvestorsWallet will be

                    valid and legal even if we shut shop owing to the legality of transaction agreements and direct

                    signing of both parties. The backend team here will keep collecting borrower money for

                    disbursal to lenders. Legal action can also be taken against defaulting borrowers.                 </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title">
                    <h4 class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseten">
                        10. Where are we based?                   </h4>
                </a>
            </div>
            <div id="collapseten" class="panel-collapse collapse">
                <div class="panel-body">
                    While lenders can be from any city in the country, borrowers are required to reside in

                    our operational zones for greater safety and security of loans along with conducting seamless

                    verification procedures.                              </div>
            </div>                 </div>
            </div>
 </div>

    <div class="col-sm-4 col-md-3 hidden-xs" data-spy="affix" data-offset-top="250" data-offset-bottom="360">
        <div class="sidebar-testimonials text-center" >
            <h4 class="heading">SATISFIED CUSTOMERS</h4>
            <div ng-include src="'/partials/sidebar-testimonials.html'"></div>
        </div>
    </div>

    <div class="col-xs-12 visible-xs iw-mt-m" >
        <div class="sidebar-testimonials text-center" >
            <h4 class="heading">SATISFIED CUSTOMERS</h4>
            <div ng-include src="'/partials/sidebar-testimonials.html'"></div>
        </div>

    </div>
</div>
</div>
</section>
