<section  id="home-slider" class="container-fluid horizontal-padding-0">
    <img ng-src="{{'/v1444135764/home-banner.jpg'|image}}" class="img-responsive">
</section>

<!--
<button ng-click="submit()" value="">test</button>
-->
<section id="description" class="module-padding">
    <div class="container">
        <div  class="row  text-center">
            <div class="heading">
                <h1>BORROW OR LEND AT YOUR CONVENIENCE</h1>
                <!--<div class="divider"></div>-->
            </div>
        </div>
        <div  class="row">
            <div class="col-sm-6  col-md-5 col-md-push-1">
                <div class="media">
                    <div class="media-left media-middle">
                        <img class="media-object" ng-src="{{'/v1444135676/take_a_loan.png'|image}}" alt="">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><b>Money at your doorstep</b></h4>
                        <ul>
                            <li><i class="fa fa-check title-text"></i>&nbsp;Attractive Interest Rate</li>
                            <li><i class="fa fa-check title-text"></i>&nbsp;No Collaterals Needed</li>
                            <li><i class="fa fa-check title-text"></i>&nbsp;Hassle Free Documentation.</li>
                            <li><i class="fa fa-check title-text"></i>&nbsp;Fast Track Processing</li>
                            <li><i class="fa fa-check title-text"></i>&nbsp;Personalised Repayments</li>
                        </ul>
                        <a class=" hidden-xs btn btn-primary pull-right" ng-href="/borrowing/register"><b> Borrow Now</b> </a>
                        <a class=" visible-xs btn btn-primary text-center" ng-href="/borrowing/register"><b> Borrow Now</b> </a>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-md-5 col-md-push-1">
                <div class="media">
                    <div class="media-left media-middle">
                        <img class="media-object" ng-src="{{'/v1444135676/invest_money.png'|image}}" alt="">

                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><b>Invest your money</b></h4>
                        <ul>
                            <li><i class="fa fa-check title-text"></i>&nbsp;Jaw dropping interest</li>
                            <li><i class="fa fa-check title-text"></i>&nbsp;Risk Diversification</li>
                            <li><i class="fa fa-check title-text"></i>&nbsp;Choose your borrower</li>
                            <li><i class="fa fa-check title-text"></i>&nbsp;Extended Support</li>
                            <li><i class="fa fa-check title-text"></i>&nbsp;Flexible Tenures</li>
                        </ul>
                        <a class="hidden-xs btn btn-primary pull-right" ng-href="/lending/register"><b>Invest Now </b></a>
                        <a class="visible-xs btn btn-primary text-center" ng-href="/lending/register"><b> Invest Now</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="counters" class="module-padding">
    <div class="container">
        <div class="row">

            <div class="col-sm-5 col-md-3 col-md-offset-1">
                <div ng-controller="FeedSummaryCtrl">
                        <h3><b>Live Feed</b></h3>
                            <div class=" live-feed top">
                                <div class="title-feed" ng-class="{'feed-positive':laa.type=='+','feed-negative':laa.type=='-'}">
                                    <span>{{laa.diff}}</span>
                                    <span>% </span>
                                    <span ng-if="laa.type=='+'" class=" fa fa-caret-up"></span>
                                    <span ng-if="laa.type=='-'" class=" fa fa-caret-down"></span>
                                </div>
                                <div class="sub-title-feed">{{laa.figure}}</div>
                                Loan Amount Approved
                            </div>
                             <div class="live-feed middle">
                        <div class="title-feed" ng-class="{'feed-positive':lrr.type=='+','feed-negative':lrr.type=='-'}">
                            <span>{{lrr.diff}}</span>
                            <span>% </span>
                            <span ng-if="lrr.type=='+'" class=" fa fa-caret-up"></span>
                            <span ng-if="lrr.type=='-'" class=" fa fa-caret-down"></span>
                        </div>
                        <div class="sub-title-feed">{{lrr.figure}} Requests</div>
                                 <div class="sub-title-feed">  Loan Request Received</div>
                    </div>
                            <div class="live-feed bottom">
                                <div class="title-feed" ng-class="{'feed-positive':air.type=='+','feed-negative':air.type=='-'}">
                                    <span>{{air.diff}}</span>
                                    <span>% </span>
                                    <span ng-if="air.type=='+'" class=" fa fa-caret-up"></span>
                                    <span ng-if="air.type=='-'" class=" fa fa-caret-down"></span>
                                </div>
                                <div class="sub-title-feed">{{air.figure}}</div>
                                <div class="sub-title-feed">  Average Interest Rate</div>
                            </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-2">
                <div class="counter-text">
                    <h3 class="iw-mb-xs iw-mt-x "><b>Loans @ highly effective interest rates</b></h3>
                    <div class="ls">
                        InvestorsWallet is undisputable leader in peer to peer lending marketplace. We

                        offer loans at highly effective interest rates which is hassle free and available at

                        quick disposal.
                    </div>
                    <div class="iw-mt-m">
                        <a class="middle ls iw-p-xs" ng-href="/borrowing/how-to-borrow"><b>&nbsp;<i class="fa fa-play title-text"></i>&nbsp;&nbsp;More about borrowing at InvestorsWallet</b></a>
                    </div>
                </div>
                <div class="counter-text">
                    <br>
                    <h3 class="iw-mb-xs iw-mt-x"><b>Great return for your money</b></h3>
                    <div class="ls">
                        The lenders at InvestorsWallet have huge opportunity to earn high return on

                        their investment with effective risk diversification techniques with direct access

                        to the borrower of choice.
                    </div>
                    <div class="iw-mt-m">
                        <a class="middle ls iw-p-xs" ng-href="/lender/how-to-lend"><b>&nbsp;<i class="fa fa-play title-text"></i>&nbsp;&nbsp;More about lending at InvestorsWallet</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="searching" class="module-padding" ng-controller="homeSearchCtrl">
    <div class="container  iw-pb-l iw-pt-l">
        <div class="row text-center">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a  ng-click="changeRole('requests')" href="#lending_requests" showtab>Lending Requests</a></li>
                    <li><a href="#loan_offers" ng-click="changeRole('offers')" showtab>Loan Offers</a></li>
                </ul>

                <div class="tab-content">
                    <div id="lending_requests" class="tab-pane fade in active">
                        <form class="form-inline" name="home-search" role="form">
                            <div class="">
                                <div class="form-group">
                                <select id="borrowing_purpose" name="purpose"   ng-model="fields.purpose" class="form-control"
                                        ng-options="purpose.value as purpose.name for purpose in iw.config.loan_purposes">
                                    <option value="" selected>Select Purpose</option>
                                </select>
                            </div>
                                <div class="form-group">
                                    <select class="form-control" ng-model="fields.city" name="city"  id="borrowing_city"
                                            ng-options="city.value as city.name for city in iw.config.allowed_cities_for_borrower">
                                        <option value="" selected>Select City</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" ng-model="fields.interest_rate"  name="interest_rate"
                                            ng-options="city.value as city.name for city in iw.config.interest_rates">
                                        <option value="" selected>Select Interest Rate</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit"  ng-click="submit('requests')" class="btn button">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="loan_offers" class="tab-pane fade">
                        <form class="form-inline" name="home-search" role="form">
                            <div class="">
                                <div class="form-group">
                                    <select id="lending_purpose" name="purpose"   ng-model="fields.purpose" class="form-control"
                                            ng-options="purpose.value as purpose.name for purpose in iw.config.loan_purposes">
                                        <option value="" selected>Select Purpose</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" ng-model="fields.city"    name="city" id="lending_city"
                                            ng-options="city.value as city.name for city in iw.config.allowed_cities_for_lender">
                                        <option value="" selected>Select City</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" ng-model="fields.interest_rate"   name="interest_rate" id="interest_rate"
                                            ng-options="city.value as city.name for city in iw.config.interest_rates">
                                        <option value="" selected>Select Interest Rate</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit"  ng-click="submit('offers')"  class="btn button">Search</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>




            </div>
        </div>
    </div>
</section>

<section id="testimonials" class="module-padding">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <div class="heading">
                    <h1> <b>SATISFIED <span class="title-text">CUSTOMERS</span></b></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-1"><i class="hidden-xs fa fa-quote-left fa-2x"></i></div>
                <div class="col-sm-10">
                    <div id="testimonials-slider"  class="carousel slide" slides>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="media">
                                    <div class="media-left media-top">
                                        <a href="#">
                                            <img class="media-object" ng-src="{{'/v1443806254/testimonial_image_ayebgu.png'|image}}" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="testimonial">
                                            This is one brilliantly customised marketplace that takes lending and borrowing to the
                                                masses. It treats every lender or borrower with greater assurance on the risk
                                            elimination, transparency and of course, helps strike personal deals that are mutually
                                            beneficial to both borrower and the lender. Very impressed indeed!
                                        </div>
                                        <div class="text-right">
                                            <h4 class="title-text"> Manish Gupta </h4>
                                            <h5 class="font-style">Financial Expert & Banker.</h5>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="media">
                                    <div class="media-left media-top">
                                        <a href="#">
                                            <img class="media-object" ng-src="{{'/v1443806254/testimonial_image_ayebgu.png'|image}}" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="testimonial">
                                            I must laud InvestorsWallet for creating this one of a kind, multi-dimensional
                                            transactional portal for potential lenders like us. I was thinking of what to do with my
                                            surplus money and stumbled upon this idea which ensures high returns
                                        </div>
                                        <div class="text-right">
                                            <h4 class="title-text">Puneet Jain</h4>
                                            <h5>CA</h5>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="media">
                                    <div class="media-left media-top">
                                        <a href="#">
                                            <img class="media-object" ng-src="{{'/v1443806254/testimonial_image_ayebgu.png'|image}}" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="testimonial">
                                            Come to Investors Wallet and get benefitted from its uncanny ability to get you the
                                            best deal to park your money in a most risk averse and high return mode of
                                            investment. I struck a personal deal that gave me huge return on the amount lent,
                                            much higher than the financial market and which is far superior to other forms of
                                            investment !! Many thanks Investor Wallet. IW (Investors Wallet) is really the IW
                                            (Ideal World) for the aspiring Investors. Whole process is so user friendly that it take
                                            few minutes only to complete the transaction.
                                        </div>
                                        <div class="text-right">
                                            <h4 class="title-text">Dhruv Mittal</h4>
                                            <h5 class="font-style"> CA & Investor</h5>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div class="media">
                                    <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" ng-src="{{'/v1443806254/testimonial_image_ayebgu.png'|image}}" alt="...">
                                    </a>
                                </div>
                                    <div class="media-body">
                                    <div class="testimonial">
                                        You will keep coming back to Investors Wallet, if not for anything, the sheer user
                                        friendliness, easy loans for borrowers and high returns for lenders cum investors. This
                                        portal makes me want to be an active member of the global investor community and
                                        of course, there is nothing else that gives you such good returns!
                                    </div>
                                    <div class="text-right">
                                        <h4 class="title-text">Ms. Payal</h4>
                                        <h5 class="font-style">Fashion Designer & Aspiring Investor</h5>
                                    </div>

                                </div>
                            </div>

                            </div>
                        </div>
                        <!-- <a class="left carousel-control" ng-click="prev()">
                             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                             <span class="sr-only">Previous</span>
                         </a>
                         <a class="right carousel-control" ng-click="next()">
                             <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                             <span class="sr-only">Next</span>
                         </a>-->
                    </div>

                </div>
                <div class="col-sm-1"><i class="hidden-xs fa fa-quote-right fa-2x"></i></div>
            </div>
        </div>
    </div>
</section>

<script>

</script>