<div class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1>      <span>Borrower.</span><span class="primary">Lender.</span> <span>Save.</span></h1>
        </div>
        <div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;How it works
        </div>
    </div>
</div>
<section id="how-it-works">
   <!-- <div class="graphics">

    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 content">
                <p>
                    InvestorsWallet is an online lending marketplace connecting people who need money with people who are willing to
                    lend. InvestorsWallet business model works on a peer-to-peer concept. We let lenders and borrowers agree on terms of
                    the transaction. This means, the interest rates are determined by the borrowers and lenders and not InvestorsWallet.
                    InvestorsWallet only charges a fixed transaction fee. Unlike banks, InvestorsWallet does not make any money over the
                    difference, in lending or borrowing rates.
                </p>

                <h2 class="primary">
                    How does it work?
                </h2>
                <p>
                    Individuals register themselves on InvestorsWallet as borrower or lender. Registration includes providing information such as personal, professional, financial details which InvestorsWallet verifies. We also require documents to be submitted to verify the information provided by individuals. In addition to this, InvestorsWallet verifies information through other available resources. This is in line with the KYC norms set by RBI and followed across the BFSI sector.
                </p>
                <p>
                    All approved borrowers and lenders listing is then published on the site. Lenders can view borrower loan listing which includes information such as loan purspose, why should lenders make offers to them, personal, professional and financial information that allows lenders to make an informed decision before lending to a borrower.
                </p>
                <p>
                    Borrowers can receive offers from multiple lenders and similarly, lenders can lend to multiple borrowers thereby diversify their risk. Once a borrower loan is 100% funded, the loan is disbursed.
                </p>
                <p>
                    Loan disbursals involve loan agreement between borrower and lender, money transfer from lender to borrower for the loan amount and EMI transfer from borrower to lender.
                </p>


                <h2 class="primary">
                    InvestorsWallet's role
                </h2>
                <ul>
                    <li>
                        InvestorsWallet is a faciliator between the lender and borrower for a loan transaction. InvestorsWallet ensures that all borrowers are verified for the information provided i.e. identity, employment, income, contact information as well as creditworthiness.

                    </li>
                    <li>
                        InvestorsWallet also helps in the loan disbursement and monitoring process upon loan acceptance by a borrower i.e. ensures that agreements are signed between borrowers and lenders, EMI cheques collected from borrower before loan disbursal and monitor the repayment.

                    </li>
                    <li>
                        InvestorsWallet also sends regular alerts / notification to both lenders and borrowers on various activities in their account including status of registration, verification, loan offers received, loan accepted, disbursed, EMI due date alerts, EMI payment updates.

                    </li>
                    <li>
                        InvestorsWallet does not recommend borrowers to lenders. All loans are made at the discretion of the lender with the understanding of the possible risks associated with such transactions.

                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>