<div class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">Discover</span> a world of lending opportunities</h1>

        </div>
        <div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;How to lend
        </div>
    </div>
</div>

<section id="process-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3 process-page-sidebar">
                <ul class="nav">
                    <li role="presentation" ui-sref-active="active"><a ui-sref="how-to-lend">How to lend</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref="lender_register">Getting Started</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref="interest-rates">Interest Rates</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref="responsible-lending">Responsible  Lending</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref="risk-management">Risk Management</a></li>
                    <li role="presentation" ui-sref-active="active"><a ng-href="/loan-offers/list" >Browse Listing</a></li>
                    <li role="presentation"><a href="/documents/lender_registration_agreement.pdf"
                            target="_blank">Lender Registeration Agreement</a></li>
                    <li role="presentation"><a href="/documents/loan_agreement_between_borrower_and_lender.pdf"
                            target="_blank">Agreement Between Lender and Borrower</a>
                    </li>
                </ul>
            </div>

            <div  class="col-sm-8 col-md-9">
                    <div ui-view></div>
            </div>
        </div>
    </div>

</section>