<section class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">Loan Request</span></h1>

        </div>
        <!--<div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Loan Offers
        </div>-->
    </div>
</section>
<section id="loan-request-detail">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{loan_request.request_id}}</h1>
            </div>
            <div class="col-sm-12">
                <h4>Purpose: {{loan_request.purpose|normalize:'all'}}</h4>
            </div>
            <div class="col-sm-12">
                <div  complete="loan_request.funded_portion" progress-bar></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                Duration: {{loan_request.duration}} Months
            </div>
            <div class="col-sm-6">
                Interest Range:{{loan_request.interest_rate_min}}-{{loan_request.interest_rate_max}}%
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                Loan Requested in : {{loan_request.city|normalize}}
            </div>
            <div class="col-sm-6">
                <a ng-href="/borrower/{{loan_request.user_id}}"> View Borrower Detail</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Biding</h3>
            </div>
            <div class="col-sm-12">
                <div  ng-if="!loan_request.bidings.length" class="text-center">
                    There is no biding on this request
                </div>
                <div class="table-responsive" ng-if="loan_request.bidings.length">
                    <table class="table table-striped">
                        <tr>
                            <th>Bidding ID</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                        <tr ng-repeat="bid in loan_request.bidings|orderBy:'created_on'">
                            <td>
                                <p><span ng-if="bid.bid_id">{{bid.bid_id}}</span><span ng-if="!bid.bid_id">NA</span></p>
                            </td>
                            <td>{{bid.amount}}</td>
                            <td>{{bid.status|uppercase}}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>