<section class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">Browse Loan Offers </span></h1>

        </div>
        <div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Loan Offers
        </div>
    </div>
</section>
<section id="loan_request_list">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Amount <i class="fa fa-inr"></i> ( 20000 - 500000)
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12" ng-init="price.min=2000;price.max=500000">
                                ==========>>>>{{price}}
                                <range iw-ceil="500000" iw-floor="20000" iw-step="5"></range>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Interest Range (12% - 24%)
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <range iw-ceil="24" iw-floor="12" iw-step="1"></range>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Duration Range (6 - 36) Months
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <range iw-ceil="36" iw-floor="6" iw-step="6"></range>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Loan Purposes
                    </div>
                    <div class="panel-body">
                        <div class="row" >
                            <div class="col-xs-12"ng-repeat="loan_purpose in iw.config.loan_purposes">
                                <div class="checkbox" >
                                    <label><input ng-model="fields.loan_purpose" ng-value="loan_purpose.value" ng-change="setFilters('purposes',loan_purpose.value)" type="checkbox">{{loan_purpose.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-8 col-md-9">
                <div class="row"ng-if="!loan_offers.length">
                    <div class="col-sm-12 text-center">
                       <h2>No Loan offer found with respect to your search.</h2>
                    </div>
                </div>
                <div class="row"ng-if="loan_offers.length">
                    <div class="table-responsive col-sm-12">
                        <table class="table table-striped">
                            <tr>
                                <th>Loan ID</th>
                                <th>Amount</th>
                                <th>Interest Range</th>
                                <th>Let So Far</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            <tr ng-repeat="offer in loan_offers">
                                <td>{{offer.loan_id}}</td>
                                <td>{{offer.amount}}</td>
                                <td>{{offer.interest_rate_min}}% -{{offer.interest_rate_max}}%</td>
                                <td><div  complete="offer.invested_portion" progress-bar></div></td>
                                <td>{{offer.status|uppercase}}</td>
                                <td><a class="btn button" ng-click="receiveRequestForBid(offer)">Request Now</a></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>