<section class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">Browse Loan Requests </span></h1>

        </div>
        <div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Loan Requests
        </div>
    </div>
</section>
<section id="loan_request_list">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Amount (<i class="fa fa-inr"></i> 20000 - <i class="fa fa-inr"></i> 500000)
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <range iw-ceil="500000" iw-floor="20000" iw-step="5000"></range>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Interest Range (12% - 24%)
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                               <range iw-ceil="24" iw-floor="12" iw-step="1"></range>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Risk Ratings
                    </div>
                    <div class="panel-body" >
                        <div class="row" ng-repeat="ratings in iw.config.risk_ratings|chunk:2">
                            <div class="col-xs-6" ng-repeat="rating in ratings">
                                <div class="checkbox" >
                                    <label><input ng-model="fields.risk_rating"  ng-value="rating.value" ng-change="setFilters('risk_rating',rating.value)" type="checkbox">{{rating.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Terms
                    </div>
                    <div class="panel-body">
                       <div class="row" ng-repeat="loan_durations in iw.config.loan_durations|chunk:2">
                            <div class="col-xs-6" ng-repeat="loan_duration in loan_durations">
                                <div class="checkbox" >
                                    <label><input ng-model="fields.duration" ng-value="loan_duration.value" ng-change="setFilters('duration',loan_duration.value)" type="checkbox">{{loan_duration.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Cities
                    </div>
                    <div class="panel-body">
                        <div class="row" ng-repeat="cities in iw.config.allowed_cities_for_borrower|chunk:2">
                            <div class="col-xs-6" ng-repeat="city in cities">
                                <div class="checkbox" >
                                    <label><input ng-model="fields.city" ng-value="city.value" ng-change="setFilters('city',city.value)" type="checkbox">{{city.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Loan Purposes
                    </div>
                    <div class="panel-body">
                        <div class="row" >
                            <div class="col-xs-12"ng-repeat="loan_purpose in iw.config.loan_purposes">
                                <div class="checkbox" >
                                    <label><input ng-model="fields.loan_purpose" ng-value="loan_purpose.value" ng-change="setFilters('purpose',loan_purpose.value)" type="checkbox">{{loan_purpose.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-9">
                <div class="row"ng-if="!loan_requests.length">
                    <div class="col-sm-12 text-center">
                       <h2>No Loan Request found with respect to your search.</h2>
                    </div>
                </div>
                <div class="row"ng-if="loan_requests.length">
                    <div class="table-responsive col-sm-12">
                        <table class="table table-striped">
                            <tr>
                                <th>Loan ID</th>
                                <th>Amount</th>
                                <th>Interest Range</th>
                                <th>Let So Far</th>
                                <th>Status</th>
                                 <th>Action</th>
                            </tr>
                            <tr ng-repeat="request in loan_requests">
                                <td>{{request.loan_id}}</td>
                                <td>{{request.amount}}</td>
                                <td>{{request.interest_rate_max}}% -{{request.interest_rate_max}}%</td>
                                <td><div complete="offer.funded_portion" progress-bar></div></td>
                                <td>{{request.status|uppercase}}</td>
                                <td><a class="btn button" ng-click="placeBid(request)">Bid Now</a></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>