<div class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">Login</span></h1>
        </div>
        <div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Login
        </div>
    </div>
</div>
<section id="login-page" class="module-padding">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-md-5 " ng-controller="LoginCtrl">
                <div class="box">
                    <div class="heading">
                        <h3 class="primary">MEMBER LOGIN</h3>
                    </div>
                    <div class="login">
                        <div class="row">
                            <div class="col-sm-12">
                                <div messages events="000102,000103,000104">
                                    <div ng-if="message" class="alert" ng-class="{'alert-warning':level=='warning','alert-success':level=='success','alert-danger':level=='error'}" role="alert">
                                        <button type="button" class="close" ng-click="removeMessage()"><span aria-hidden="true">&times;</span></button>
                                         {{message}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form class="form" ng-submit="submit()">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-2 col-xs-2 control-label"><i class="fa fa-user fa-2x badge"></i>
                                    </label>
                                    <div class="col-sm-10 col-xs-10">
                                        <input type="text" class="form-control" ng-model="fields.email" id="email" placeholder="Email">
                                    </div>
                                    <div ng-if="errors.email" class="text-danger">{{errors.email}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">

                                <label class="col-sm-2 col-xs-2 control-label"><i class="fa fa-lock fa-2x badge"></i></label>
                                <div class="col-sm-10 col-xs-10"><input type="password" class="form-control" ng-model="fields.password" id="password" placeholder="Password">
                                    </div>
                                <div ng-if="errors.password" class="text-danger">{{errors.password}}</div>
                                    </div>
                            </div>
                            <div class="form-group ">
                                <label class="radio-inline">
                                    <input type="radio" name="role" id="inlineRadio1" ng-model="fields.role" value="borrower"> As Borrower
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="role" id="inlineRadio2" ng-model="fields.role" value="lender"> As Lender
                                </label>

                            </div>

                            <div class="form-group">
                               <!--<div class="col-sm-4 col-sm-offset-5 iw-mt-xs iw-mb-xs">
                                   <a href="">Forgot password?</a>
                               </div>-->
                                <button type="submit" class="btn btn-primary">Login</button>


                            </div>


                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-7">
                <img ng-src="{{'/v1444313408/login_icon.png'|image}}" class="img-responsive" style="margin: 6% auto;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-offset-2 col-md-10">
                <div class="box">
                    <div class="heading">
                        <h3 class="primary text-center"> Not a Member yet?</h3>
                    </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-offset-1 col-md-5 iw-mb-s">
                                <div class="content">
                                    Want to borrow money for your personal need? Register with investors wallet
                                    and reach out to your peers for low cost loans!
                                </div>
                                <div class="text-right">
                                    <a class="btn btn-primary " ng-href="/borrowing/register">APPLY NOW</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-offset-1 col-md-5  iw-mb-s">
                                <div class="content">
                                    Looking to get higher returns on small lendings? Register with investors wallet and offer
                                    loans to individual creditworthy borrowers at attractive interest rates!
                                </div>
                                <div class="text-right">
                                    <a class="btn btn-primary" ng-href="/lending/register">LEND NOW</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

</section>