<section id="privacy-policies" data-spy="scroll" data-target="#fixaffix1"  data-offset="250">
    <div class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">Privacy policy</span></h1>
        </div>
        <div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Privacy Policy
        </div>
    </div>
</div>
    <div class="container">
    <div class="row privacy-policy-content">
    <div class="col-sm-8 col-md-9">
    <p>   This policy elaborates the procedure of information collection by us and how we uphold your privacy

        while safeguarding all the information provided by you.   </p>
    <ul>

        <li> “Website” means our website accessible at www.InvestorsWallet.com          </li>

        <li>“You” or “Your” or “Yourself” refers to you, the user of the Website</li>

        <li>“Policy” means this privacy policy as amended from time to time </li>
    </ul>

    <p>This Policy applies to the collection, use, processing and access of all information that we collect on the

        Website. This includes but is not limited to information you upload, emails that you exchange with us

        and any information submitted by you to us.      </p>

    <p> The Policy does not apply to, nor do we take any responsibility for, any information that is collected by

        any third party either using the Website or through any links on the Website or through any of the

        advertisements.          </p>

    <h4><b> Personal/Sensitive/Other information: Defined </b></h4>

    <p> <b>“Personal Information”</b> implies personally identifiable information like your name, your address, your

        age, your phone number and your email address.</p>

    <p> <b>  “Sensitive Personal Information”</b> which means credit card number, pan number, tan number, income

        tax returns, bank account number, passport details, driving license details, personal statements, reasons

        for seeking finance, income sources and financial information your passwords, any biometric or medical

        or health related information etc.           .</p>

    <p> <b>  “Other Information”</b> which means all other information other than “Personal Information” or “Sensitive

        Personal Information”. To give examples of this, this could be in the nature of device information, your

        usage patterns, your usage preferences, logs which are created when you access and use the Website,

        local caches on your browser, your location, IP address and the like. These are just examples and the list

        is by no means exhaustive.
        .</p>
    <p>  This Policy is effective from the time You register with the Website.    </p>

    <p>    You may also provide information to be published or displayed or posted on the Website, or transmitted

        to other users of the Website or third parties. Any such information is posted or transmitted to others at

        your own risk. Please be aware that we cannot control the actions of other users of the Website with

        whom you may choose to share information with.   </p>

    <p>    You agree that your personal information provided on the Website may be used to contact you to seek

        your feedback in order to improve the performance of the Website or for advertisements, product

        offerings, and communications relevant to your use of the Website, and/or to supplement your search

        of information and material provided on the Website.   </p>

    <p>  You are responsible for maintaining the confidentiality of the user name and password assigned to You

        by the website. However, certain information provided by You to the Website may be saved in the form

        of cookies while You have the option to change the settings of your internet browsers to prevent such

        information from being saved.   </p>

    <h4><b>     Use of your Information:    </b> </h4>
    <p>   InvestorsWallet may use your Personal Information primarily for its own internal purposes, such as

        providing, maintaining, evaluating, and improving the InvestorsWallet and the Website, fulfilling

        requests for information, producing and shipping the products that you order, and providing customer

        support. Your personal information shall also be shared with the other members of this website. Upon

        acceptance of these terms and conditions, You hereby grant an unequivocal and absolute consent to

        share your personal information with third parties. InvestorsWallet is not required to seek your consent

        once again in respect of sharing your personal information with third parties. We would further share

        your information with marketing agencies and other businesses if we in our sole discretion understand

        that your information may be used to market a product or service. The term Personal Information shall

        include your name, address, e-mail id and mobile phone number but it shall not include any data in

        relation to your financial status, income statements, earnings, source of earnings, personal identification

        numbers, passwords, code numbers, bank account numbers, credit card numbers, expiry dates

        relationship numbers, CVV numbers, encryptions, cookies and other such electronic details. </p>

    <p>

        Whilst every effort will be made to keep the information provided by You in a safe manner, we will

        share the information we collect from you, including the Personal Information with such third party if

        we in good faith, believe it is required for the purposes of our compliance with any applicable law,

        regulation, legal process or enforceable governmental request/ action or any manner required for the

        purposes of protecting our rights or interests.       </p>

    <p>

        We may disclose your Personal Information to any successor-in-interest of ours, such as a company that

        acquires us. In the event InvestorsWallet goes through a business transition, such as a merger or

        acquisition by or with another company, or sale of all or a portion of our assets, your Personal

        Information will likely be among the assets transferred. You will be notified via email or by a notice on

        our Website of any such change in ownership or control of your Personal Information.       </p>

    <p>

        We shall keep your personal information private and confidential. We may disclose your Personal

        Information to prevent an emergency, to prevent harm to others, to respond to legal requirements, to

        protect or enforce our rights and policies, to protect or enforce the rights of a third party, or as required

        or permitted by law (including, without limitation, to comply with a summon or court order).

        We may contract with various third parties who help us provide, maintain and improve the Website and

        the InvestorsWallet Services. For example, we use a third party to process payments made to us, and

        may subcontract out production, fulfillment, analytics, reporting or other operations. We also contract

        with several online partners to help manage, monitor and optimize our Website and the InvestorsWallet

        Services and to help us measure the effectiveness of our advertising, communications and how visitors

        use the Website. We will use commercially reasonable efforts to prevent such third parties from

        disclosing your Personal Information, except for the purpose of providing the services in question. We

        cannot guarantee that such third parties will not disclose your Personal Information. In no

        circumstances, InvestorsWallet shall disclose data in relation to your financial status, income

        statements, earnings, source of earnings, personal identification numbers, passwords, code numbers,

        bank account numbers, credit card numbers, expiry dates relationship numbers, CVV numbers,

        encryptions, cookies and other such electronic details                </p>

    <p>

        The InvestorsWallet Services are intended for users ages 21 and older only. Accordingly, we will not

        knowingly collect or use any Personal Information from individuals that we know to be under the age of

        21. In addition, we will delete any information in our database that we know originates from an

        Individual under the age of 21.     </p>

    <p>

    <h4><b>         Amendments to the Privacy Policy:   </b></h4>

    To keep up with the ever changing times, we may make changes to the Policy. We will indicate that the

    Policy has changed and this will be displayed prominently on the Website. You will need to ascertain for

    yourself what changes have been made or whether or not you agree with the changes. If you do not

    agree to the changes, you should discontinue your use of the Website, because as we have told your

    earlier, your use or access of the Website will constitute your acceptance of the Policy as then changed.

    <h4><b>     Terms of Use:    </b></h4>


    This Privacy policy shall be read with and form a part of the Terms of Use.

    <h4><b>  Unsubscribe your Personal Information:   </b></h4>

    InvestorsWallet provides you the opportunity to unsubscribe / opt-out of having your Personal

    Information used for certain purposes.       </p>

    <p>

        If you no longer wish to receive our newsletters and promotional communications, you may opt-out of

        receiving them by following the instructions included in each newsletter or communication or by

        emailing us at info@smartnomics.com. We also offer you an opportunity to opt-out of certain

        communications through the account management screen. If you need assistance you may contact us

        at info@smartnomics.com
    </p>

    <p>
        If we disclose your Personal Information to a third party in a manner that is not set forth in this Privacy

        Policy you will be notified so that you can make an informed choice about sharing your Personal

        Information with that third party. </p>

    </div>

    <div class="col-sm-4 col-md-3 hidden-xs" data-spy="affix" data-offset-top="250" data-offset-bottom="360">
            <div class="sidebar-testimonials text-center" >
                <h4 class="heading">SATISFIED CUSTOMERS</h4>
                <div ng-include src="'/partials/sidebar-testimonials.html'"></div>

            </div>

        </div>
    <div class="col-xs-12 visible-xs iw-mt-m" >

            <div class="sidebar-testimonials text-center" >
                <h4 class="heading">SATISFIED CUSTOMERS</h4>
                <div ng-include src="'/partials/sidebar-testimonials.html'"></div>


            </div>

        </div>
    </div>
</div>
</section>