<fieldset>
    <div class="row">
        <div class="col-sm-12">
            <legend class="primary">Personal Information</legend>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12  col-md-6 form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" name="first_name"  validator="required,onlyalphabet" ng-model="fields.first_name" id="first_name" placeholder="First Name">
        </div>
        <div class="col-sm-12  col-md-6 form-group">
            <label for="middle_name">Middle Name</label>
            <input type="text" class="form-control" name="middle_name"  validator="onlyalphabet" ng-model="fields.middle_name" id="middle_name" placeholder="Middle Name">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12  col-md-6 form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" name="last_name"  validator="required,onlyalphabet" id="last_name" ng-model="fields.last_name" placeholder="Last Name" >
        </div>

        <div class="col-sm-12  col-md-6 form-group" >
            <label for="marital_status">Marital Status</label>
            <select type="text" class="form-control" name="marital_status"  validator="required" id="marital_status"   ng-model="fields.marital_status">
                <option value="">Select Marital Status</option>
                <option value="single">Single</option>
                <option value="married">Married</option>
                <option value="divorced">Divorced</option>
                <option value="widowed">Widowed</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12  col-md-6 form-group">
            <label for="gender">Gender</label>
            <select type="text" class="form-control" name="gender"  validator="required" id="gender"   ng-model="fields.gender">
                <option value="">Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="col-sm-12  col-md-6 form-group">
            <label for="mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" validator="required,number, minlength=10,maxlength=10"  ng-model="fields.mobile" id="mobile" placeholder="Mobile">
        </div>
    </div>


</fieldset>

<fieldset>
    <div class="row">
        <div class="col-sm-12">
            <legend class="primary">Correspondence City</legend>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12  form-group" ng-if="borrower">
            <label for="borrower_city">City</label>
            <select type="text" class="form-control" name="city"  validator="required" id="borrower_city" placeholder="City"  ng-model="fields.correspondence_address.city"
                    ng-options="city.value as city.name for city in iw.config.allowed_cities_for_borrower">
            </select>
        </div>
        <div class="col-sm-12  form-group" ng-if="lender">
            <label for="lender_city">City</label>
            <select type="text" class="form-control" name="city"  validator="required" id="lender_city" placeholder="City"  ng-model="fields.correspondence_address.city"
                    ng-options="city.value as city.name for city in iw.config.allowed_cities_for_lender">
            </select>
        </div>
    </div>
</fieldset>

<fieldset >
    <div class="row">
        <div class="col-sm-12">
            <legend class="primary">Login Information</legend>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12  col-md-12 form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control"  name="email" validator="required,email" id="email" placeholder="Email" ng-model="fields.email">

        </div>

    </div>

    <div class="row">
        <div class="col-sm-12  col-md-6 form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" validator="required" id="password" placeholder="Password" ng-model="fields.password" >
        </div>
        <div class="col-sm-12  col-md-6 form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" name="confirm_password" validator="required" id="confirm_password" placeholder="Confirm Password" ng-model="fields.confirm_password">
        </div>
    </div>
</fieldset>

