<div class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">Borrower </span>Registration</h1>

        </div>
        <div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Borrowers Registration
        </div>
    </div>
</div>
<section class="register">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-9">
                <form name="borrower_register">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12">
                                <legend class="primary">Mention Your Requirement</legend>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12  col-md-4 form-group">
                            <label for="loan_purpose">Loan Purpose</label>
                            <select id="loan_purpose" name="purpose"  validator="required" ng-model="fields.purpose" class="form-control"
                                    ng-options="purpose.value as purpose.name for purpose in iw.config.loan_purposes">
                                <option value="" selected>Select Purpose</option>
                            </select>
                        </div>
                            <div class="col-sm-12  col-md-4 form-group">
                            <label for="amount">Amount</label>
                            <input type="text"  name="amount"  validator="required,number" class="form-control" ng-model="fields.amount" id="amount" placeholder="Amount">
                        </div>
                            <div class="col-sm-12  col-md-4 form-group">
                                <label for="duration">Duration</label>
                                <select id="duration" name="duration"  validator="required" ng-model="fields.duration" class="form-control"
                                        ng-options="purpose.value as purpose.name for purpose in iw.config.loan_durations">
                                    <option value="" selected>Select Duration</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12  col-md-6 form-group">
                            <label for="interest_rate_min">Min Interest Rate</label>
                                <select id="interest_rate_min" name="interest_rate_min"  validator="required" ng-model="fields.interest_rate_min" class="form-control"
                                        ng-options="purpose.value as purpose.name for purpose in iw.config.interest_rates" validate-range="min" field-name="interest_rate_max" >
                                    <option value="" selected>Min Interest Rate</option>
                                </select>
                            </div>
                            <div class="col-sm-12  col-md-6 form-group">
                                <label for="interest_rate_max">Min Interest Rate</label>
                                <select id="interest_rate_max" name="interest_rate" ng-change="validate_range('max')"  validator="required" ng-model="fields.interest_rate_max" class="form-control"
                                        ng-options="purpose.value as purpose.name for purpose in iw.config.interest_rates" validate-range="max" field-name="interest_rate_min">
                                    <option value="" selected>Max Interest Rate</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <div  ng-include src="'partials/register_form.html'"></div>
                    <fieldset>
                        <div class="col-sm-12">
                            Understand and accepts terms and conditions
                        </div>
                        <div class="checkbox col-sm-12">
                            <label>
                                <input type="checkbox" name="understand"  validator="required" ng-model="fields.understand" ng-true-value="'1'" ng-false-value="'0'"> I understand and agree to the terms of use, registration, <a ng-href="/documents/loan_agreement_between_borrower_and_lender.pdf" target="_blank">loan agreement with lenders</a> on InvestorsWallet and also comply with all the company policies for repayment of loan.
                            </label>
                        </div>
                        <div class="checkbox col-sm-12">
                            <label>
                                <input type="checkbox" name="agree" validator="required" ng-model="fields.agree" ng-true-value="'1'" ng-false-value="'0'"> I agree to the <a ng-href="/terms-of-use" target="_blank"> Terms of Use</a>,<a ng-href="/documents/borrower_registration_agreement.pdf" target="_blank">Borrower Registration Agreement</a> , <a ng-href="/privacy-policy" target="_blank"> Privacy & Security Policy </a>of InvestorWallet.
                            </label>
                        </div>

                    </fieldset>

                    <!--<div class="row">
                        <div class="form-group col-sm-12">
                            <div  key="key"  vc-recaptcha></div>
                        </div>
                    </div>-->
                    <div class="form-group col-sm-12 text-right">
                        <a class="btn  btn-primary" validation-submit="borrower_register" ng-click="submit()" type="submit" value="Submit">  Submit </a>
                    </div>
                </form>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="primary">Eligibility</h4>
                        <ul class="arrow-right">
                            <li>At least 21 years old</li>
                            <li>primary">Min. Income</li>
                                <ul class="none">
                                    <li>
                                        Salaried: <i class="fa fa-inr"></i> 20,000 /month
                                    </li>
                                    <li>
                                        Self Employed: <i class="fa fa-inr"></i> 40,000 /month
                                    </li>
                                </ul>
                            </li>
                            <li>Valid bank account</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h4 class="primary">Fee Details</h4>

                        <ul class="arrow-right">
                            <li> Registration Fee: <i class="fa fa-inr"></i>500</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="primary">Fee Details</h4>

                        <ul class="arrow-right">
                            <li>How to get loan</li>
                            <li>Interest Rate and Fee </li>
                            <li>Responsible Borrowing</li>
                            <li>How to create effective listing</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
