<div class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">Lenders </span>Registration</h1>

        </div>
        <div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Lenders Registration
        </div>
    </div>
</div>

<section class="register">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-9">
                <form name="lender_register">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12">
                                <legend class="primary">Amount To Invest</legend>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12  form-group">
                                <label for="amount">Amount</label>
                                <input type="text" name="amount"  validator="required,number" class="form-control" id="amount" placeholder="Amount"  ng-model="fields.amount">
                            </div>
                        </div>
                    </fieldset>
                    <div ng-include src="'partials/register_form.html'"></div>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12">
                                Understand and accepts terms and conditions
                            </div>
                        </div>

                        <div class="row">
                            <div class="checkbox col-sm-12">
                                <label>
                                    <input type="checkbox" name="understand"  validator="required" ng-model="fields.understand" ng-true-value="'1'" ng-false-value="'0'"> I understand and agree to the terms of use, registration, <a ng-href="/documents/loan_agreement_between_borrower_and_lender.pdf" target="_blank">loan agreement with borrower</a> on InvestorsWallet and also comply with all the company policies for getting returns of loan..
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="checkbox col-sm-12">
                                <label>
                                    <input type="checkbox" name="agree" validator="required" ng-model="fields.agree" ng-true-value="'1'" ng-false-value="'0'"> I agree to the <a ng-href="/terms-of-use" target="_blank"> Terms of Use</a>,<a ng-href="/documents/lender_registration_agreement.pdf" target="_blank">Lenders Registration Agreement</a> , <a ng-href="/privacy-policy" target="_blank"> Privacy & Security Policy </a>of InvestorWallet.
                                </label>
                            </div>
                        </div>
                    </fieldset>
                   <!-- <div class="row">
                        <div class="form-group col-sm-12">
                            <div  key="key"  vc-recaptcha></div>
                        </div>
                    </div>-->


                    <div class="form-group col-sm-12 text-right">
                        <input class="btn  btn-primary" validation-submit="lender_register" ng-click="submit()" type="submit" value="Submit">
                    </div>
                </form>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="primary">Eligibility</h4>
                        <ul class="arrow-right">
                            <li>At least 21 years old</li>
                            <li>Min. Income
                                <ul class="none">
                                    <li>
                                        Salaried: <i class="fa fa-inr"></i> 20,000 /month
                                    </li>
                                    <li>
                                        Self Employed: <i class="fa fa-inr"></i> 40,000 /month
                                    </li>
                                </ul>
                            </li>
                            <li>Valid bank account</li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="primary">Questions</h4>

                        <ul class="arrow-right">
                            <li>See our FAQ's section</li>

                        </ul>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="primary">Fee Details</h4>

                        <ul class="arrow-right">
                            <li>How to lend</li>
                            <li>Know your borrower </li>
                            <li>Responsible Lending</li>
                            <li>How to read borrower listing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>