<section id="code-verification">
    <div class="container">
        <div class="row heading">
            <div class="col-sm-12">
                <h1>Borrowing Service Unavailable</h1>
            </div>
        </div>
        <div class="row content">
            <div class="col-sm-12">
                We are currently not operational in your city. We will contact you as will start our services in your city.
            </div>
        </div>
    </div>
</section>