<div id="sidebar-slider"  class="carousel slide" slides>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="testimonial">
                This is one brilliantly customised marketplace that takes lending and borrowing to the
                masses. It treats every lender or borrower with greater assurance on the risk
                elimination, transparency and of course, helps strike personal deals that are mutually
                beneficial to both borrower and the lender. Very impressed indeed!
            </div>
            <div class="text-right">
                <h4 class="title-text"> Manish Gupta </h4>
                <h5 class="font-style">Financial Expert & Banker.</h5>
            </div>
        </div>
        <div class="item">
            <div class="testimonial">
                I must laud InvestorsWallet for creating this one of a kind, multi-dimensional
                transactional portal for potential lenders like us. I was thinking of what to do with my
                surplus money and stumbled upon this idea which ensures high returns
            </div>
            <div class="text-right">
                <h4 class="title-text">Puneet Jain</h4>
                <h5>CA</h5>
            </div>
        </div>
        <div class="item">
            <div class="testimonial">
                Come to Investors Wallet and get benefitted from its uncanny ability to get you the
                best deal to park your money in a most risk averse and high return mode of
                investment. I struck a personal deal that gave me huge return on the amount lent,
                much higher than the financial market and which is far superior to other forms of
                investment !! Many thanks Investor Wallet. IW (Investors Wallet) is really the IW
                (Ideal World) for the aspiring Investors. Whole process is so user friendly that it take
                few minutes only to complete the transaction.
            </div>
            <div class="text-right">
                <h4 class="title-text">Dhruv Mittal</h4>
                <h5 class="font-style"> CA & Investor</h5>
            </div>

        </div>
        <div class="item">
            <div class="testimonial">
                You will keep coming back to Investors Wallet, if not for anything, the sheer user
                friendliness, easy loans for borrowers and high returns for lenders cum investors. This
                portal makes me want to be an active member of the global investor community and
                of course, there is nothing else that gives you such good returns!
            </div>
            <div class="text-right">
                <h4 class="title-text">Ms. Payal</h4>
                <h5 class="font-style">Fashion Designer & Aspiring Investor</h5>
            </div>
        </div>
    </div>

</div>
