<section id="terms-and-conditions">
<div class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">Terms of use</span></h1>
        </div>
        <div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Terms of Use
        </div>
    </div>
</div>


<div class="container">
<!--  <div class="row heading">
      <div class=" col-sm-12 ">
          <h1><span class="primary">terms</span> & <span class="primary">conditions</span></h1>
      </div>
  </div>-->
<div class="row content">
<div class="col-sm-12 ">
<h4 class="text-center"><b>Disclaimer for this website  </b></h4>

<p> InvestorsWallet.com (TM) (<b>hereinafter</b> referred to as "Website" "InvestorsWallet" or "Site" or "we" or

    "our") is owned, hosted and operated by [Smartnomics Technologies Private Limited (<b>hereinafter </b>

    referred to as “InvestorsWallet")]. THE CONTENT OF this website i.e. InvestorsWallet.com, is provided

    on an "AS IS" and on an "AS AVAILABLE" BASIS, WITHOUT WARRANTIES or REPRESENTATIONS OF ANY

    KIND, EITHER EXPRESSED OR IMPLIED.</p><p>

    InvestorsWallet is an ‘intermediary’ as defined under sub-clause (w) of Section 2 of the Information

    Technology Act, 2000, that provides a platform brings together persons who are willing to borrow and

    persons who are willing to lend together. InvestorsWallet is an attempt to build a close community that

    would share its resources with each other in all honesty and promote togetherness and growth of the

    community at an individual level and of the community as a whole. InvestorsWallet’s endevaour is that

    an individual may come forward to support another individual in need. On this web portal, a visitor to

    the website could browse and search for persons who are willing to lend, persons who are willing to

    borrow, details of service providers such as verification agencies, collection agents and other such

    service providers that would provide services to either lenders or to borrowers. InvestorsWallet shall

    merely facilitate a transaction of borrowing and lending between two such persons. InvestorsWallet

    neither lends nor borrows through this website. InvestorsWallet is neither a financial institution, nor

    runs a collective investment scheme or a chit fund or any other such financial scheme.   </p><p>

    InvestorsWallet or any THIRD PARTY providing materials, services or content to this website DISCLAIMS

    ALL WARRANTIES, EXPRESSED OR IMPLIED, STATUTORY OR OTHERWISE INCLUDING, BUT NOT LIMITED

    TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-

    INFRINGEMENT OF THIRD PARTY RIGHTS, COMPLETENESS OR ACCURACY OF THE INFORMATION,

    UPDATE OR CORRECTNESS OF THE INFORMATION, FREEDOM FROM COMPUTER VIRUSES, OTHER

    VIOLATION OF RIGHTS REGARDING SERVICES, PRODUCTS, MATERIAL AND CONTENTS OF THIS WEBSITE.   </p><p>

    InvestorsWallet does not endorse any views expressed by third parties on this Website nor any

    information posted on this Website by third parties, and shall not responsible for them. It is solely your

    responsibility to evaluate the accuracy, completeness and usefulness of all opinions, advice, services and

    other information provided through the Website. You are strongly advised to verify the authenticity of

    the information provided on this Website prior to relying and acting on the same.      </p><p>

    By using or accessing this website for any or all the materials and information contained herein, you

    acknowledge that you have<b> read, understood, accepted and agreed </b>to be bound by the terms and

    conditions contained herein. Moreover, as stated by the use or access of this Website would expressly

    mean that you irrevocably accept all the terms of this Disclaimer and the Website User Agreement as

    specified in this website. The use or access of this Website in any manner shall constitute an irrevocable

    acceptance of this Disclaimer. </p><p>

    In the event you find any information / material on this Website to be inappropriate or objectionable,

    please report the same to <b>info@investorswallet.com</b>   </p><p>

<h4><b>  No Liability:</b> </h4>

<p> While InvestorsWallet uses its reasonable efforts to include accurate (approx.) and up-to-date

    information on this website, errors or omissions sometimes may occur. InvestorsWallet expressly

    disclaims any liability, whether in contract, tort, and strict liability or otherwise, for any direct, indirect,

    incidental, consequential, punitive or special damages arising out of or in any way connected with your

    access to or use of this site.  </p><p>

    All information given in this website, including but not limited to financial information of lenders /

    borrowers, graphics, text and links to other sites, is provided "as is" and is subject to change without

    prior notice. Such information is provided to the fullest extent permissible and pursuant to applicable

    law, without the warranty of any kinds expressed or implied, including but not limited to implied

    warranties of merchantability, fitness for a particular purpose, non-infringement and freedom from

    computer viruses or similar disabling devices.  </p><p>

    InvestorsWallet is an independent organization and is not an associate/confederate of any third party,

    relating to whom any content is listed/mentioned on this website. Therefore, lest it is categorically

    specified, the listed content (including any brand, logo, mark or name) of any third party is not to be

    understood/assumed as InvestorsWallet association with or endorsement of such information or party. </p><p>

    The Website is only a platform for providing information on opportunities for transactions that two

    users of the Website may enter into outside of the auspices of the Website or the Services provided by

    the Company. Any contractual or commercial agreements are agreed to be between users alone and

    neither the Website nor the Company shall be in manner liable or responsible for these commercial

    arrangements. The Company is not responsible for any breach of any contract (to which the Company is

    not a party) concluded by any of the user/s.   </p><p>

    Your use of the Website and its functionalities shall not act to make the Company your agent in any

    form or manner.    </p><p>

    Any disputes between You and any other users are to be resolved between You and such users only and

    the Company is not responsible and shall not be required to mediate or resolve any disputes or

    disagreement between such users. You acknowledge and agree that You cannot and will not enjoin the

    Company or its affiliates, officers, employees, agents and professional advisors as a party to any such

    dispute.   </p><p>

    InvestorsWallet does not (at all) warrant the adequacy, accuracy or completeness of any information on

    this site and expressly disclaims any liability for errors or omissions therein. Users are responsible for

    evaluating the accuracy, completeness or usefulness of any information or other content available on

    this site. Further InvestorsWallet does not warrant the error free and uninterrupted service of this

    website.        </p><p>

    It is solely your (website user/visitor) responsibility to evaluate the accuracy, completeness and

    usefulness of all opinions, advice, services, merchandise and other information provided through this

    Website. InvestorsWallet does not warrant that the access to Website will be uninterrupted or error-

    free or that defects in Website will be corrected.  </p><p>

    No information contained herein shall constitute an invitation or an offer to invest in InvestorsWallet or

    any of its Affiliates. Further, nothing contained in this Website should be construed as a

    recommendation to use any product, process, equipment or formulation, in conflict with any patent, or

    otherwise and InvestorsWallet makes no representation or warranty, express or imply that, the use

    thereof will not infringe any patent, or otherwise. Again, InvestorsWallet will not be liable for any

    damages of any kind arising out of or relating to the use or the inability to use this Website, its content

    or links, including but not limited to damages caused by deficiency of services delivered by any third

    party or related to errors, omissions, interruptions, defects, delay in operation or transmission,

    computer virus, line failure and all other direct, indirect, special, incidental, punitive, loss of profit,

    exemplary or consequential damages whether based on warranty, contract, tort or any other legal

    theory including Force Majeure, and whether or not, such organizations or entities were intimated or

    advised of the possible damages.    </p><p>

    InvestorsWallet undertakes no responsibility for any error, omission, interruption, deletion, defect,

    delay in operation or transmission, communication line failure, theft or destruction or unauthorized

    access to or alteration of user’s data/information.
</p><p>
    By acting on any information provided on InvestorsWallet, you confirm, on behalf of yourself and your

    past and present parent companies, subsidiaries, divisions, affiliates, officers, directors, employees,

    partners, principals, members, stockholders, owners, successors, transferees, assigns, heirs, executors,

    administrators, attorneys, agents and representatives, that you hereby irrevocably and unconditionally,

    forever waive, release, acquit and discharge InvestorsWallet and its past and present employees,

    associates, partners, principals and their respective successors, transferees, assigns, heirs, executors,

    administrators, attorneys, agents and representatives, in each case, from, against and with respect to,

    any and all actions (including any legal proceeding), causes of action, complaints, charges, claims, costs,

    damages, demands, debts, defenses, duties, expenses, fees (including any attorney or adviser fees),

    fines, injuries, interest, judgments, liabilities, losses, obligations, penalties, promises, reimbursements,

    remedies, suits, sums of money, and torts of any kind and nature whatsoever, whether in law, equity or

    otherwise, direct or indirect, individual or derivative, fixed or contingent, foreseeable or unforeseeable,

    liquidated or unliquidated, known or unknown, matured or unmatured, absolute or contingent,

    determined or determinable arising in relation to or resulting from the information, advice, opinion or

    services  provided through this Website.   </p><p>

<h4> <b>  Term of Use:   </b>  </h4><p>

    In relation to the use and access of the Website, its content and features, You agree and undertake the

    following:    </p><p>
<ul><li>
    Every effort has been made to ensure, that the information contained on the Site is correct,

    however neither we nor any third parties provide any warranty or guarantee as to the accuracy,

    timeliness, performance, completeness or suitability of the information and materials found or

    offered on this website for any particular purpose. You acknowledge that such information and

    materials may contain inaccuracies or errors and we expressly exclude liability for any such

    inaccuracies or errors to the fullest extent permitted by law.  </li> <li>

    InvestorsWallet is not responsible to you or anyone else for any damages of any kind, including

    (but not limited to) any direct or consequential loss and losses resulting from security failure,

    disclosure of confidential information by other parties or the transmission of a computer virus,

    suffered in connection with the use of this Website. Your use of any information or materials on

    this website is entirely at your own risk, for which we shall not be liable. It shall be your own

    responsibility to ensure that any products, services or information available through this website

    meet your specific requirements.</li> <li>

    The Service(s) or a Product(s) and information displayed on the Site is an "invitation to offer" to

    the End User. Your order for purchase of either Service(s) or Product(s) constitutes your "offer"

    which shall be subject to the terms and conditions as listed below. InvestorsWallet.com reserves

    the right to accept or reject your offer. If you have supplied us with your valid email address, we

    will notify you by email as soon as possible to confirm receipt of your instruction and email you

    again to confirm details and therefore process the instruction accordingly for provision of

    Services(s) or Products(s). Our acceptance of your instructions for either rendition of services or

    provision of any product will take place upon rendition of Service(s) or dispatch of the Product(s)

    ordered. No act or omission of InvestorsWallet prior to the actual dispatch of the Product(s) or

    rendition of services ordered will constitute acceptance of your offer. Similarly, no act or

    omission of InvestorsWallet prior to the actual rendition of services shall constitute acceptance

    of your offer. Persons who cannot enter into legally binding contract in accordance with the

    provisions of the Indian Contract Act, 1872 including person below the age of 21 years or of

    unsound mind and un-discharged insolvents etc. are not entitled to use the Site.     </li> <li>

    By using this Site, you agree to the Terms and Conditions that InvestorsWallet has provided. If

    you do not wish to agree to these Terms and Conditions, please refrain from using the Site. In

    the Site, InvestorsWallet provides End Users with access to data base of lenders, borrowers and

    services providers in relation to debt services such as verification agencies and collection

    agencies etc. The InvestorsWallet is only a platform that brings together borrowers and lenders,

    it matches the need of borrowers and lender, and provides link to service providers that are

    associated with the business of borrowing and lending such as verification agency and collection

    agency. InvestorsWallet in no manner indulges into either in borrowing or lending and is not a

    corporation that has any sort of license from the Reserve Bank of India to carry the business of

    lending in India. InvestorsWallet in no manner collects deposits from the lenders or person who

    would like to earn interest on their money by lending. This part of the process is taken care of by

    a Non Banking Financial Company that has agreed to partner with InvestorsWallet.

    InvestorsWallet do participates in the process of lending but only to extend that it supports the

    lender in verifying the whereabouts of the borrower. As regards borrower, the InvestorsWallet

    ensures that the lenders are individuals of very high repute and credentials and are not

    professional money lenders. InvestorsWallet also clarifies that this is not a micro finance

    website.   </li> <li>

    If this terms and conditions conflicts with any other document, the T&C will prevail for the

    purposes of usage of the Site. If you do not agree to be bound by this T&C and the Privacy

    Policy, you may not use the Site in any way  </li> <li>

    In the Site, InvestorsWallet provides Users with access to lenders, borrowers, service providers

    to borrowers, partners who facilitate lending and credit reports for lenders and borrowers.    </li> <li>

    InvestorsWallet grants you a limited license to access and make personal use of the Site. </li> <li>

    In consideration of your use of the Site, you represent that you are of legal age to form a binding

    contract and are not a person barred from receiving services or goods under the laws as

    applicable in India. Additionally you are more than 21 years of age. You also agree to provide

    true, accurate, current and complete information about yourself as prompted by the Site's

    registration form. If you provide any information that is untrue, inaccurate, not current or

    incomplete (or becomes untrue, inaccurate, not current or incomplete), or InvestorsWallet has

    reasonable grounds to suspect that such information is untrue, inaccurate, not current or

    incomplete, InvestorsWallet has the right to suspend or terminate your account and refuse any

    and all current or future use of the Site (or any portion thereof). As InvestorsWallet is a website

    that enables borrowers to find lenders and lenders to find borrowers, it considers provisions of

    wrong information on this web portal willingly an act that would constitute misrepresentation,

    fraud and cheating. If you use the Site, you are responsible for maintaining the confidentiality of

    your account and password, and for restricting access to your computer. You agree to accept

    responsibility for all activities that occur under your account or password. Because of this, we

    strongly recommend that you exit from your account at the end of each session. You agree to

    notify InvestorsWallet immediately of any unauthorized use of your account or any other breach

    of security. InvestorsWallet reserves the right to refuse service, terminate accounts, or remove

    or edit content in its sole discretion. In the event, InvestorsWallet finds that the information

    shared by the User of the website is incorrect or that the User is in breach of terms or conditions

    of the website or User is in default of the lenders and borrowers agreement than in such case

    InvestorsWallet may add the name and details of such person in the list of persons who are

    blacklisted from receiving funds or lending.              </li> <li>

    The Users agree to allow the Iisting of information, or any part of it, to be searched, displayed,

    accessed, downloaded, copied, and otherwise referred to by all the users of this website      </li> <li>

    InvestorsWallet shall have the sole authority to choose the manner in which any listing will be

    searched, displayed, accessed, downloaded, copied, and otherwise used and shall have the right

    to modify the listing in the exercise of its rights under these clauses/agreement.  </li> <li>

    InvestorsWallet reserves the right at all times to discontinue or modify any of the Terms and

    Conditions as may be deemed necessary or desirable without prior notification to you. Such

    changes may include, among other things, the adding of certain fees or charges. We suggest to

    you, therefore, that you re-read this important notice containing our Terms and Conditions from

    time to time in order that you stay informed as to any such changes. If we make changes to our

    Terms and Conditions and you continue to use our Site, you are impliedly agreeing to the Terms

    and Conditions and Privacy Policy expressed herein. Any such deletions or modifications shall be

    effective immediately upon InvestorsWallet's posting thereof. Any use of InvestorsWallet by End

    User after such notice shall be deemed to constitute acceptance by End User of such

    modifications.     </li> <li>

    InvestorsWallet shall take all reasonable efforts for data backup and business resumption,

    however, the user will be solely responsible for retaining back-up copies of all information,

    photographs and other materials furnished/submitted. </li> <li>

    In order to purchase Products or Services from the Site, you will need to provide your details

    prior to get enlisted either as a borrower or as a lender. As an account holder you are required

    to provide InvestorsWallet with accurate personal information. Provision of another person’s

    details as your own will not be deemed acceptable. Any personal information collected by

    InvestorsWallet shall not be disclosed to any third party unrelated to the InvestorsWallet

    business unless such a disclosure is authorised or required by law, or you have expressly

    consented to such a disclosure. Please also see the Privacy Policy in this regard.   </li> <li>

    Upload, transmit or publish any viruses or other malware, to corrupt, interrupt, limit, destroy or

    otherwise impact the Website, the Company’s computer systems, or the computer systems of

    other users or third party systems is strictly debarred         </li> <li>

    Upload transmit or publish anything which You do not have the rights to or any material which

    infringes the intellectual property rights (in whatever form) of any third party is strictly debarred

     Use the Website in any manner which is not permitted under these Terms of Use or in any

    manner which is illegal or unethical is strictly debarred       </li> <li>

    Access the Website in any unauthorized manner, including by hacking or using log in credentials

    of any other user is strictly debarred  </li> <li>

    Use the Website for any unauthorized marketing purposes or for sending any unsolicited

    materials is strictly debarred       </li> <li>

    The users of InvestorsWallet are subject to InvestorsWallet’s privacy policy  </li></ul>   </p><p>

    If any of your actions on the Website or materials posted by you on the Website are inferred/flagged as

    inappropriate, the Company reserves the right to review such actions or content to determine, in its sole

    and absolute discretion, whether it violates these Terms of Use. If the Company removes your content

    or disables your account and/or access to the Website, you may assume that such removal or

    disablement was purposeful on the part of the Company. The Company may, additionally refuse to let

    you re-register on and/or use the features and functionalities of the Website as its sole option.

<h4><b>  Payment Terms:  </b></h4><ul>
    <li>

        InvestorsWallet does not store or keep credit card data in a location that is accessible via the

        Internet. Once a credit card transaction has been completed, all credit card data is moved off-

        line only to ensure that the data/credit card information received is not accessible to anyone

        after completion of the on-line transaction and to ensure the maximum security.

        InvestorsWallet uses the maximum care as is possible to ensure that all or any data/information

        in respect of electronic transfer of money does not fall in the wrong hands        </li> <li>

    InvestorsWallet shall not be liable for any loss or damage sustained by reason of any disclosure

    (inadvertent or otherwise) of any information concerning the user's account and/or information

    relating to or regarding online transactions using credit cards / debit cards and/or their

    verification process and particulars nor for any error, omission or inaccuracy with respect to any

    information so disclosed and used whether or not in pursuance of a legal process or otherwise </li><li>
    You agree, understand and confirm that the credit card details provided by you for availing of

    services on InvestorsWallet will be correct and accurate and you shall not use the credit card

    which is un-lawfully owned by you, thus you must not pay or attempt to pay for services using

    fraudulent credit card information. You further agree and undertake to provide the correct and

    valid credit card details to InvestorsWallet. In case of orders that amount to Rs.10,000 or more,

    the customer will be required to provide the last four digits of the credit card used to place the

    order, for the purpose of verification     </li> </ul>

<h4><b>Cancellation/Refunds Terms:</b></h4>
<ul></li>
    The information facilitated by InvestorsWallet will never vouch/guarantee the desired

    conversion for any user and hence cannot ever entail/endow any cancelation or refund for any

    transaction/payment whatsoever    </li><li>

        In the event of any inadvertent disconnect while you transact with assistance of InvestorsWallet,

        due to any reason/s, you are notified that we don't have a cancellation policy as we charge for

        services and not products. Cancellation charges cannot be made effective for the services

        provided by us. Please be informed that the requests received will not be treated as cancellation

        of our services           </li><li>

        Refunds will be issued to the original partaker in the transaction only in case of double or extra

        payment made in favor of InvestorsWallet owing to a technical glitch (while transferring funds

        electronically/manually)       </li></ul>



<h4><b>  Technical or online issues:</b></h4>

InvestorsWallet shall not be responsible for any problem or technical malfunction of on-line-systems,

servers or providers, computer equipment, software, failure of e-mail or players on account of technical

problem or traffic congestion on the Internet or at any website or combination thereof, including injury

or damage to any user and/or members or to any other person/computer related to or resulting from

participating or downloading materials/information from this website. This Website is controlled and

operated from India and InvestorsWallet makes no representation that the materials are appropriate or

will be available for use in other parts of the World. If you use this Website from outside India, you are

entirely responsible for compliance with all applicable local laws as well as international conventions

and treaties. InvestorsWallet offers products, services, content and various other functionalities

(collectively the "Services") to specific regions worldwide. The Services offered in one region may differ

from those in other regions due to availability, local or regional laws or legal impediments and other

considerations/factors. InvestorsWallet does not make any warranty or representation that a user in

one region may also obtain the Services as provided in another region. Information on this Website may

contain references to products, programs or services that are not announced or available in your

country. Such references do not in any manner imply that InvestorsWallet intends to announce, launch

or provide such products, programs or services in your country. Users are advised that information on

hyperlinked or referred-to websites/microsites is neither investigated nor analyzed by InvestorsWallet.

No warranty or representation, expressed or implied, is given as to the accuracy or completeness of that

information. In no event will InvestorsWallet, nor any of its directors, employees or advisors accept any

liability with regard to the information contained in the individual ING companies', business unit or

product group's websites or any other hyperlinked or referred-to websites/microsites. And, by

accessing or using this site, you also agree to abide by the proprietary guidelines set forth at any website

accessed or linked to through this site.


<h4><b> Waiver</b></h4>

The failure of InvestorsWallet to exercise or enforce any right or provision of the Terms of use shall not

constitute a waiver of its right to enforce such right or provision subsequently.


<h4><b> Indemnification</b></h4>
By registering with the Website, You hereby undertake to indemnify, defend and hold harmless

InvestorsWallet and its past and present employees, associates, partners and principals from and

against any and all losses, liabilities, penalties, settlements, damages and expenses (including, without

limitation, reasonable expenses of investigation and attorneys’ fees and expenses), irrespective of

whether any of the foregoing is payable in cash, kind or liable to be suffered through deductions,

withholding or set off incurred or suffered as a result of your use of the material / information provided

on this Website or from any breach of the terms and conditions contained herein.

Link(s) to third party websites:
<h4><b> Link(s) to third party websites:</b></h4>

InvestorsWallet is not at all responsible for the content of any other internet sites linked to its website.

A link to another site is meant for convenience only and does not imply that InvestorsWallet endorses

the site or any products or services that it describes. Your use and access of any other internet sites

linked to or from this site is at your own risk and cost. Further InvestorsWallet does not have any

obligation or liability in connection therewith by accessing this website, you also agree to abide by the

proprietary guidelines set forth at any website accessed or linked to through this website.


<h4><b>Governing Law:</b></h4>


By accessing the Website, you agree that the laws prevailing in India shall be the governing laws in all

matters relating to InvestorsWallet as well as these Terms and Conditions.

:
<h4><b>Jurisdiction</b></h4>

Exclusively the Courts at New Delhi, India shall have the exclusive jurisdiction in all matters relating to

services provided by InvestorsWallet and these Terms and Conditions, irrespective of the territory and

jurisdiction of your access to this website. If InvestorsWallet becomes aware of an inappropriate use of

this website or any of its Services, InvestorsWallet will respond in any way that, in its sole discretion,

InvestorsWallet deems appropriate. You acknowledge that InvestorsWallet will have the right to report

to law enforcement authorities, any actions that may be considered illegal, as well as any information it

receives about such illegal conduct. When requested, InvestorsWallet will co-operate fully with law

enforcement agencies in any investigation of alleged illegal activity on the Internet. InvestorsWallet

reserves all other rights.

Note: The terms in this agreement may be changed by InvestorsWallet at any time. InvestorsWallet is

free to offer its services to any client/prospective client without restriction.


<h4><b>SMS and Phone Call Disclaimer:</b></h4>

InvestorsWallet.com, referred to as InvestorsWallet, is committed to provide the best user service

experience, and by opting in to enter your mobile /landline number, you give InvestorsWallet, the

consent to call/sms you on the shared number for your transaction, in spite of its possible registration

under DND (National Do Not Call Registry). In no event InvestorsWallet will be liable under any Law, for

any expense, loss or damage including, without limitation, indirect or consequential loss or damage, or

any other expense, loss or damage whatsoever. Further it is stated that the said number would only be

used by the personnel of InvestorsWallet and would not be made privy to any third party without prior

consent of the user/s. InvestorsWallet is hereby being indemnified from all

complaints/grievances/claims whether legal or commercial arising from the use of the said number.


</div>
</div>
</div>
</section>