<div class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">Email Verification</span></h1>
        </div>
        <div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Email Verification
        </div>
    </div>
</div>
<section id="code-verification">
    <div class="container">
    <div messages events="100100,000105">
        <div ng-if="message" class="alert" ng-class="{'alert-warning':level=='warning','alert-success':level=='success','alert-danger':level=='error'}" role="alert">
            <button type="button" class="close" ng-click="removeMessage()"><span aria-hidden="true">&times;</span></button>
            {{message}}
        </div>
    </div>
        <div class="row content">
            <div class="col-sm-12">
                We have sent you an email carrying the code. Please Enter the code into given input.
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <form role="form" ng-submit="submit()">
                    <div class="form-group">
                        <label for="code">Code</label>
                        <input type="text" class="form-control" ng-model="fields.code"  id="code">
                        <div ng-if="error"><span class="text-danger"> {{error}}</span></div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-lg btn-default" value="Verify Now">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>