<section id="about-page">

    <div class="bg-image">
        <div class="bg-color">
            <div class="jumbotron text-center">
<!--
                <h1><span class="primary">Why</span> trust us</h1>
-->
            </div>
            <div class="container breadcrumb">
                <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Why trust us
            </div>
        </div>
    </div>
    <div class="container" id="why-trust-us">
        <div class="row content">
            <div class="col-sm-12">
                <h4><b>  Why Trust Us: </b></h4>
                <p>
                    Our core team comprises of seasoned and experienced professionals from diverse industries with proven and time tested expertise across several industry areas. Here are little snippets on the cogs in our wheel:
                </p>
                <p>
                    <strong>N. Kumar</strong> (Startup expert, Marketing Guru & Execution Specialist): Mr. Kumar is as passionate about growth as finding new age solutions to basic problems. A workaholic by nature, Mr. Kumar holds a Masters in Marketing & Advertising and a post graduation degree in Information Technology. A trained six sigma black belt and expert in ISO implementation, Mr. Kumar possesses a whopping 17 years of experience in establishing and mentoring startups and various organizations.
                 </p>
                <p>
                    <strong>Sheetal Rani</strong> (Creative Director): Ms. Rani specializes in lending her unique touch to design and creative elements and spearheads all design and development processes at InvestorsWallet, emphasizing highly on interactive quotients of websites and top notch aesthetics. Originality and vivacity are her middle names.
                     </p>
                <p>
                    <strong>Dhruv Mittal</strong> (Advisor, Wealth Maximization & International Law Expert): Mr. Mittal holds considerable experience in steering leading global and domestic firms with regard to scaling up shareholder value and is a qualified chartered accountant. Mr. Mittal possesses demonstrated and vast expertise in international and domestic laws in addition to taxation laws. His core specialty lies in structuring organizations, processes and work systems for maximizing creation of wealth and adherence to corporate governance standards.''
                </p>

                Come, experience InvestorsWallet today and enter a whole new world of financial liberation!
            </div>
        </div>
    </div>

</section>