<div>
    <h4><b> Lending Delineated</b></h4>

    <div class="super-quick"></div>
    <br>
    Lenders need not give in to confusion and anxiety regarding the entire process involved in
    successfully disbursing loans to customers as per desired terms and conditions. The entire process
    is essentially simple and revolves around a few core steps:
    <ul class="arrow-circle-o-right">
        <li>Registration and subsequent verification</li>
        <li>Listing creation and borrower approach</li>
        <li>Lending terms finalization</li>
        <li>Loan confirmation</li>
        <li>EMI receipts</li>
    </ul>
    <p>Though you do need to invest a little time and effort to get the best out of our platform,
        our high tech systems are geared to give you greater user friendliness and satisfaction in
        minimal time.</p>
    <h4 class="primary"><b>Applying as a Lender</b></h4>

    <p>The application process is not daunting at all and only requires you to create your own account
        by filling the forms provided. You should fill in the lending amount that you are comfortable
        with, your desired interest rates and all other necessary details in the section catering to
        lender listings. Thereafter, you should definitely endeavor to discuss all terms and conditions
        and other details with prospective borrowers and aim at paving the way for a favorable and
        mutually beneficial deal. Once the loan is confirmed, you will start receiving EMIs on
        pre-appointed dates.</p>
    <h4 class="primary"><b>Who’s Eligible?</b></h4>

    <p>There is a minimum eligibility structure for aspiring lenders at InvestorsWallet. Here’s
        delineating the following for you:</p>
    <ul class="arrow-circle-o-right">
        <li>Minimum age of 21 years</li>
        <li>Legal Resident of India</li>
        <li>Legally Employed and Generating Income
        </li>
        <li>Valid proof of identity issued by the
            government
        </li>
        <li>Valid bank account</li>
    </ul>
    <p>Once you pass these minimum eligibility norms, there are some documents that you need to get hold
        of for access to our exclusive community of lenders.</p>
    <h4 class="primary"><b> Documentation Details</b></h4>

    <p>When it comes to documents required to be submitted to us, you need to keep the following ready
        before applying:</p>
    <ul class="arrow-circle-o-right">
        <li>PAN Card</li>
        <li>1 Proof of Address (Passport, Driving
            License, Electricity Bill (any 1 bill over the last quarter), Post-paid Telephone Bill)
        </li>
        <li>Passport Size Photographs</li>
        <li>1 Proof of Contact Details (Landline
            Telephone Bill, Post-paid Mobile phone bill)
        </li>
    </ul>
    <h4 class="primary"><b>What’s in it for us?</b></h4>

    <p>Well, we at InvestorsWallet do not believe in parting you from a heady chunk of returns and other
        benefits for the privileges you receive. We only charge a one time 1.5% of the total amount you
        lend out to your borrower.</p>
    <br><br>
</div>
