<div>
    <h4><b> Being a Good Lender </b></h4>

    <div class="super-quick"></div>
    <br>
    <p>
        Who’s our ideal lender? Do you have what it takes to be a cherished lender at InvestorsWallet?
        Before delving deeper into the question, you must first consider that we offer innumerable scope
        for returns and financial benefits to our community of lenders. We empower lenders with regard
        to making informed and verified decisions that offer mutually beneficial deals within shorter
        periods of time. Peer to peer lending is a goldmine for potential returns and InvestorsWallet
        believes in opening up the same for trusted lenders. Short term loans are greatly in demand
        these days for purposes like family events, debt repayment/consolidation, automobile purchases,
        educational purchases and even emergencies. </p>
    <p>

        Lenders can earn decent profits through our short term lending system without any hassles as
        ingrained in the banking system. However, lenders should take all possible care to double check
        loan eligibility before taking the plunge. Background checks are also imperative though
        InvestorsWallet does possess its own verification procedure. </p>
    <p>

        Our lender is one who does not hanker after only quick and lucrative returns. Lenders should
        always analyze the pros and cons of loan deals and agreements with borrowers prior to taking a
        decision. Several issues have to be eliminated at the beginning in order to safeguard your
        financial portfolio zealously. Responsible lending practices involve proper understanding of
        markets and other developments. Unsecured loans do not come with loan repayment guarantees
        and lenders should possess a thorough understanding of the risks involved. Complete
        establishment of trust and authenticity is necessary before agreeing to provide loans to
        prospective borrowers. </p>

    <p>

        Borrower eligibility, employment records and details have to be scrutinized carefully before
        lending in order to keep potential fraud successfully at bay. You should look to understand the
        purpose of the loan and try to garner as much information as possible.
        Here’s what else you should keep in mind: </p>
    <ul class="arrow-circle-o-right">
        <li>
            Thoroughly examine the lender agreement- This is a must as all the terms and conditions
            will be laid down here and you should double check to understand all clauses and ensure
            that the deal is a mutually beneficial one and safe.
        </li>
        <li>
            Always examine the financial position of borrowers- You should definitely conduct
            checks on the financial capabilities of the borrower with a view towards combating
            possible fraud. You should also understand and analyze the credit worthiness assessment
            we do for you and do your own research in the background as well. The borrower should
            be able to repay the loan within the agreed time period and here is where some extra
            legwork won’t hurt!
        </li>
        <li>
            Garner more vital information- You should always get your questions answered by
            borrowers and avoid those who are vague and hesitant/unwilling to clarify doubts and
            queries posed by you. You should always get the lowdown on a borrower’s position in
            his/her organization or business sphere, influence, work experience, profile of the job and
            all other related details that you can find.
        </li>
    </ul>

    Our ideal lender is cautious, responsible and smart.
    We’re sure you want to be all three prior to investing your hard earned money for quicker
    returns.<br><br>
</div>