<section id="financial_details">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="primary">Financial Details</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form name="financial_details">
                <fieldset >
                    <div class="row">
                        <div class="col-sm-12">
                            <legend class="primary">Bank Account Details</legend>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="bank_name">Bank Name</label>
                            <select id="bank_name" name="bank_name"  validator="required" ng-model="fields.bank_name" class="form-control"
                                    ng-options="purpose.value as purpose.name for purpose in iw.config.banks">
                                <option value="" selected>Select Bank Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="account_number">Account Number</label>
                            <input type="text" name="account_number"  validator="required,number" class="form-control" id="account_number" placeholder="Account Number"  ng-model="fields.account_number">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="ifscode">IFSCode</label>
                            <input type="text" name="ifscode"  validator="required" class="form-control" id="ifscode" placeholder="IFS Code"  ng-model="fields.ifscode">
                        </div>
                    </div>
                </fieldset>
                <fieldset >
                    <div class="row">
                        <div class="col-sm-12">
                            <legend class="primary">Income</legend>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-6  form-group">
                            <label for="annual_income">Annual Income</label>
                            <input type="text" name="annual_income"  validator="required,number" class="form-control" id="annual_income"  placeholder="Annual Income"  ng-model="fields.annual_income">
                        </div>
                        <div class=" col-sm-6  form-group">
                            <label for="annual_expenses">Annual Expenses</label>
                            <input type="text" name="annual_expenses"  validator="required,number" class="form-control" id="annual_expenses"  placeholder="Annual Expenses"  ng-model="fields.annual_expenses">
                        </div>
                    </div>
                </fieldset>
                <fieldset >
                    <div class="row">
                        <div class="col-sm-12">
                            <legend class="primary">Credit Card Details</legend>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-6 form-group">
                            <label>
                                <input type="checkbox" name="has_cc"  id="has_cc" ng-true-value="1" ng-false-value="0"   ng-model="fields.has_cc">
                                Do You have Credit Card (PAN)
                            </label>
                        </div>
                        <div ng-if="fields.has_cc" class=" col-sm-6  form-group">
                            <label for="cc_number">Credit Card Number</label>
                            <input type="text" name="cc_number"  validator="required,number" class="form-control" id="cc_number"  placeholder="Credit Card  Number"  ng-model="fields.cc_number">
                        </div>
                    </div>
                </fieldset>
                <fieldset >
                    <div class="row">
                        <div class="col-sm-12">
                            <legend class="primary">PAN Details</legend>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-6 form-group">
                            <label>
                                <input type="checkbox" name="has_pan"  id="has_pan"  ng-true-value="1" ng-false-value="0"  ng-model="fields.has_pan">
                                Do You have Personal Account Number(PAN)
                            </label>
                        </div>
                        <div ng-if="fields.has_pan" class=" col-sm-6  form-group">
                            <label for="pan_number">Personal Account Number(PAN)</label>
                            <input type="text" name="pan_number"  validator="required" class="form-control" id="pan_number"   ng-model="fields.pan">
                        </div>
                    </div>
                </fieldset>
                <fieldset >
                    <div class="row">
                        <div class="col-sm-12">
                            <legend class="primary">CIBIL Score Detail</legend>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-6 form-group">
                            <label>
                                <input type="checkbox" name="is_cibil_checked" ng-true-value="1" ng-false-value="0"  id="is_cibil_checked"   ng-model="fields.is_cibil_checked">
                                Have you checked your CIBIL Score
                            </label>
                        </div>
                        <div ng-if="fields.is_cibil_checked" class=" col-sm-6  form-group">
                            <label for="pan_number">CIBIL Score</label>
                            <input type="text" name="pan_number"  validator="required,number" class="form-control" id="cibil_score"   ng-model="fields.cibil_score">
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <input class="btn  btn-primary" validation-submit="financial_details" ng-click="submit()" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>

</section>