<section id="borrower-profile">
<div class="col-sm-12">
	<h3>Payment Terms and Conditions</h3>
</div>
<div class="col-sm-12">
	<h5>Kindly note the terms of payment for your transaction:</h5>
	<ul>
		<li>A one-time non-refundable fee of INR. 500 is charged for registering on InvestorsWallet.com</li>
		<li>
			Borrower shall be responsible for filling up of the online registration form including submission of documents as listed on the website. InvestorsWallet may not send reminder mails or call the Borrower to do the same. Non-submission of documents due to non-availability will not be a ground for refund of fees. (See document list)
		</li>
		<li>
			Verification of application will commence only after filling of the online form completely including submission of requisite documents to the satisfaction of InvestorsWallet. 
		</li>
		<li>
			Payment of registration fee neither guarantees “Successful Approval” of Borrower Loan Listing on InvestorsWallet, nor does it guarantee funding of loan amount as desired by the Borrower.
		</li>
		<li>
			The registration fee is valid only for a period of one month or one Loan Listing request, whichever is the earliest. 
		</li>
		<li>
			NON-REIMBURSEMENT OF FEE
			In the event of a registration application for Loan Listing being rejected, the fee amount will not be refunded to the Borrower.
			No reimbursement will be done in the event that Borrower Loan Listing is not funded 
		</li>
	</ul>
</div>

<div class="col-sm-12" ng-if="!show_payment_detail">
	<form name="payment">
		<div class="checkbox">
		    <label><input type="checkbox"  name="check" validator="required"  ng-model="data.check" ng-true-value="1" ng-false-value="0"> I accept above payment terms and conditions</label>
		  </div>
        <div class="form-group">
            <button type="submit" validation-submit="payment" ng-click="submit()" class="btn btn-default">PROCEED TO PAYMENT</button>
            <a ng-click="move_to_account('skip')" class="btn btn-default pull-right">SKIP PAYMENT FOR NOW</a>
        </div>
	</form>
</div>
    <div class="col-sm-12" ng-if="show_payment_detail">
        You have already made the payment of <i class="fa fa-inr"></i> 500 on {{details.paid_on| date:'MM/dd/yyyy'}}
        <div class="form-group">
            <a ng-click="move_to_account()" class="btn btn-default">MOVE TO ACCOUNT SECTION</a>
        </div>

    </div>
</section>





