<section id="personal_details">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="primary">Personal Details</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form name="personal_details">
                <div class="row">
                    <div class="col-sm-12">
                        <legend class="primary">Personal Information</legend>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12  col-md-6 form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" name="first_name"  validator="required,onlyalphabet" ng-model="fields.first_name" id="first_name" placeholder="First Name">
                    </div>
                    <div class="col-sm-12  col-md-6 form-group">
                        <label for="middle_name">Middle Name</label>
                        <input type="text" class="form-control" name="middle_name"  validator="onlyalphabet" ng-model="fields.middle_name" id="middle_name" placeholder="Middle Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  col-md-6 form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" name="last_name"  validator="required,onlyalphabet" id="last_name" ng-model="fields.last_name" placeholder="Last Name" >
                    </div>

                    <div class="col-sm-12  col-md-6 form-group" >
                        <label for="marital_status">Marital Status</label>
                        <select type="text" class="form-control" name="marital_status"  validator="required" id="marital_status"   ng-model="fields.marital_status">
                            <option value="">Select Marital Status</option>
                            <option value="single">Single</option>
                            <option value="married">Married</option>
                            <option value="divorced">Divorced</option>
                            <option value="widowed">Widowed</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  col-md-6 form-group">
                        <label for="gender">Gender</label>
                        <select type="text" class="form-control" name="gender"  validator="required" id="gender"   ng-model="fields.gender">
                            <option value="">Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                </div>
                <fieldset >
                    <div class="row">
                        <div class="col-sm-12">
                            <legend class="primary">Contact Details</legend>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12  col-md-6 form-group">
                            <label for="email">Email</label>
                            <input type="text" name="email"  validator="required" class="form-control" id="email" placeholder="Email" ng-model="fields.email" readonly>
                        </div>
                        <div class="col-sm-12  col-md-6 form-group">
                            <label for="mobile">Mobile</label>
                            <input type="text" class="form-control" name="mobile" validator="required,number, minlength=10,maxlength=10"  ng-model="fields.mobile" id="mobile" placeholder="Mobile">
                        </div>
                    </div>
                </fieldset>
                

                 <fieldset>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div >
                                <legend class="primary"> Correspondence Address</legend>
                            </div>
                            <div class="form-group">
                                <label for="address1">Address</label>
                                <textarea id="address1" name="address1"  validator="required" placeholder="Address"  ng-model="fields.correspondence_address.address"  class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="state1">State</label>
                                <select class="form-control" name="state1"  validator="required" id="state1" placeholder="State" ng-model="fields.correspondence_address.state" states ng-options="state.value as state.name for state in states">
                                    <option value="">State</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="city1">City</label>
                                <select type="text" class="form-control" name="city1"  validator="required" id="city1" placeholder="City"  ng-model="fields.correspondence_address.city" cities ng-options="city.value as city.name for city in cities" state="{{fields.correspondence_address.state}}">
                                    <option value="">City</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="postal_code1">Postal Code</label>
                                <input type="text" name="postal_code1"  validator="required,number" class="form-control" id="postal_code1" placeholder="Postal Code"  ng-model="fields.correspondence_address.postal_code">
                            </div>
                            <div class="form-group">
                                <label for="phone_number1">Phone Number</label>
                                <input type="text" name="phone_number1"  validator="number" class="form-control" id="phone_number1" placeholder="Phone Number"  ng-model="fields.correspondence_address.phone_number">
                            </div>
                            <div class="form-group">
                                <label for="correspondence_address_tenure">Correspondence Address Tenure</label>
                                <input type="text" name="phone_number1"  validator="number" class="form-control" id="correspondence_address_tenure" placeholder="Phone Number"  ng-model="fields.correspondence_address.correspondence_address_tenure">
                            </div>
                            <div class="form-group">
                                <label for="correspondence_address_type">Correspondence Address Type</label>
                                <select class="form-control" name="correspondence_address_type"  validator="required" id="correspondence_address_type" placeholder="City"  ng-model="fields.correspondence_address.correspondence_address_type" ng-options="city.value as city.name for city in iw.config.residence_type" >
                                    <option value="">Address Type</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                              <div>
                                <legend class="primary"> Permanent Address</legend>
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea id="address" name="address"  validator="required" placeholder="Address"  ng-model="fields.permanent_address.address"  class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="state">State</label>
                                <select class="form-control" name="state"  validator="required" id="state"  ng-model="fields.permanent_address.state" states ng-options="state.value as state.name for state in states">
                                    <option value="">State</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <select type="text" class="form-control" name="city"  validator="required" id="city"  ng-model="fields.permanent_address.city" cities ng-options="city.value as city.name for city in cities" state="{{fields.permanent_address.state}}">
                                    <option value="">City</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="postal_code">Postal Code</label>
                                <input type="text" name="postal_code"  validator="required,number" class="form-control" id="postal_code" placeholder="Postal Code"  ng-model="fields.permanent_address.postal_code">
                            </div>
                            <div class="form-group">
                                <label for="phone_number">Phone Number</label>
                                <input type="text" name="phone_number"  validator="required" class="form-control" id="phone_number" placeholder="Phone Number"  ng-model="fields.permanent_address.phone_number">
                            </div>
                        </div>
                    </div>

                 </fieldset>

                <fieldset >
                    <div class="row">
                        <div class="col-sm-12">
                            <legend class="primary">Educational Details</legend>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col-sm-12  col-md-6  form-group">
                            <label for="qualification">Highest Qualification</label>
                            <select class="form-control" name="qualification"  validator="required" id="qualification" placeholder="State" ng-model="fields.educational_qualification.qualification" ng-options="qualification.value as qualification.name for qualification in iw.config.educational_qualifications">
                                <option value="">Highest Qualification</option>
                            </select>
                        </div>
                        <div class="col-sm-12  col-md-6  form-group">
                            <label for="passing_year">Passing Year</label>
                            <select type="text" class="form-control" name="passing_year"  validator="required" id="passing_year" placeholder="Passing Year"  ng-model="fields.educational_qualification.passing_year"  ng-options="year.value as year.name for year in iw.config.years">
                                <option value="">Year</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12  form-group">
                            <label for="institute_name">Institute Name</label>
                            <input type="text" name="institute_name"  validator="required" class="form-control" id="institute_name" placeholder=" Institute Name"  ng-model="fields.educational_qualification.institute_name">
                        </div>
                    </div>



                </fieldset>

                <div class="form-group text-right">
                    <input class="btn  btn-primary" validation-submit="personal_details" ng-click="submit()" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>

</section>