<section id="professional_details">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="primary">Professional Details</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form name="professional_details">
                <fieldset >
                <div class="form-group">
                    <label> I am Employed:</label>
                    <label class="radio-inline"><input type="radio" ng-model="fields.employment_type" name="employment_type" value="salaried">A Salaried Professional</label>
                    <label class="radio-inline"><input type="radio" ng-model="fields.employment_type" name="employment_type" value="business">Self Employed Businessman</label>
                </div>
                </fieldset>

                <fieldset ng-if=" fields.employment_type=='salaried'">
                    <div class="row">
                        <div class="col-sm-12">
                            <legend class="primary">Office Details</legend>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="office_name">I Currently work at</label>
                            <input type="text" class="form-control" id="office_name" name="office_name"  validator="required" placeholder="Company Name"  ng-model="fields.company_name"  class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="start_month">Since</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <select  class="form-control" name="start_month"  validator="required" id="start_month"  ng-model="fields.start_month" ng-options="month.value as month.name for month in iw.config.months" >
                                        <option value="">Month</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select  class="form-control" name="start_year"  validator="required" id="start_year"  ng-model="fields.start_year" ng-options="year.value as year.name for year in iw.config.years" >
                                        <option value="">Year</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="total_experience">Total Experience(Years)</label>
                            <input type="text" name="total_experience"  validator="required" class="form-control"  id="total_experience" placeholder="Total Experience"  ng-model="fields.total_experience">
                        </div>
                    </div>

                </fieldset>
                <fieldset ng-if="fields.employment_type=='business'">
                    <div class="row">
                        <div class="col-sm-12">
                            <legend class="primary">Work Place Details</legend>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-12 form-group">
                            <label for="work_place_name">My Firm Name is </label>
                            <input type="text" id="work_place_name" name="work_place_name"  validator="required" placeholder="Firm Name"  ng-model="fields.work_place_name"  class="form-control"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col-sm-12  col-md-6  form-group">
                            <label for="business_id">Business Id</label>
                            <select class="form-control" name="business_id"  validator="required" id="business_id"  ng-model="fields.business_id" ng-options="business_id.value as business_id.name for business_id in iw.config.industry_id">
                                <option value="">Business Id</option>
                            </select>
                        </div>
                        <div class=" col-sm-12  col-md-6  form-group">
                            <label for="business_type">Business Type</label>
                            <select class="form-control" name="business_type"  validator="required" id="business_type"  ng-model="fields.business_type" ng-options="business_type.value as business_type.name for business_type in iw.config.industry_type">
                                <option value="">Business Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="start_month">Since</label>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <select  class="form-control" name="start_month"  validator="required" id="start_month"  ng-model="fields.start_month" ng-options="month.value as month.name for month in iw.config.months" >
                                            <option value="">Month</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <select  class="form-control" name="start_year"  validator="required" id="start_year"  ng-model="fields.start_year" ng-options="year.value as year.name for year in iw.config.years" >
                                            <option value="">Year</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                </fieldset>
                <fieldset >
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="office_email">Office Email</label>
                            <input type="text" name="office_email" class="form-control" id="office_email" placeholder="Office Email"  ng-model="fields.office_email">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="office_contact_number">Office Contact Number(With extension If any)</label>
                            <input type="text" name="office_contact_number" class="form-control" id="office_contact_number" placeholder="4051111x2222"  ng-model="fields.office_contact_number">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="office_address">Office Address</label>
                            <textarea id="office_address" name="office_address"  validator="required" placeholder="Office Address"  ng-model="fields.office_address"  class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="office_state">Office State</label>
                            <select class="form-control" name="office_state"  validator="required" id="office_state" placeholder="Office State" ng-model="fields.office_state" states ng-options="state.value as state.name for state in states">
                                <option value="">Office State</option>

                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="office_city">Office City</label>
                            <select type="text" class="form-control" name="office_city"  validator="required" id="office_city" placeholder="Office City"  ng-model="fields.office_city" cities ng-options="city.value as city.name for city in cities" state="{{fields.office_state}}">
                                <option value="">Office City</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group text-right">
                    <input class="btn  btn-primary" validation-submit="professional_details" ng-click="submit()" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>

</section>