<section id="profile">
    <div id="personal-details">
        <div class="row">
            <div class="col-sm-12">
                <h4> <span ng-bind="user.first_name"></span>  <span ng-if="user.middle_name">{{user.middle_name}} </span><span ng-bind="user.last_name"></span></h4>
            </div>
            <div class="col-sm-12">
                <span><b>Date Of Birth</b>: {{user.date_of_birth}}</span>
                <span><b>Marital Status</b>: {{user.marital_status}}</span>
                <span><b>Gender</b>: {{user.gender}}</span>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><b>Email</b>: {{user.email}}</p>
                <p><b>Mobile</b>: {{user.mobile}} </p>
            </div>
            <div class="col-sm-6 text-right">
                <p ng-if="user.provisional_rating"><b>Provisional Rating</b>: {{user.provisional_rating}}</p>
                <p ng-if="user.rating" ><b>Rating</b>: {{user.rating}} </p>
            </div>
        </div>
        <!-- <div class="row">
             <div class="col-sm-12 text-right">
                 <a class="btn button " ng-href="/account/personal-information">Update</a>
             </div>
         </div>-->
    </div>

    <div id="addresses">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="heading">Addresses </h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h4>Correspondence Addresses </h4>
                <address ng-if="user.correspondence_address.address">
                    <strong class="primary">{{user.correspondence_address.address}}</strong> <br>
                    {{user.correspondence_address.city|normalize}}, {{user.correspondence_address.address|normalize}} <br>
                    India, {{user.correspondence_address.postal_code}} <br>

                    <span ng-if="user.correspondence_address.landline"> Ph: {{user.correspondence_address.landline}}</span>
                </address>
                <div ng-if="!user.correspondence_address.address">
                    We don't have your complete Correspondence address with us.
                </div>
            </div>
            <div class="col-sm-6">
                <h4>Permanent Addresses </h4>
                <address ng-if="user.permanent_address.address">
                    <strong class="primary">{{user.permanent_address.address}}</strong>
                    {{user.permanent_address.city|normalize}}, {{user.permanent_address.address|normalize}} <br>
                    India, {{user.permanent_address.postal_code}}
                    <span ng-if="user.permanent_address.landline"> Ph: {{user.permanent_address.landline}}</span>

                </address>
                <div ng-if="!user.permanent_address.address">
                    We don't have your Permanent Address with us.
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <a class="btn button" ng-href="/account/addresses">Update</a>
            </div>
        </div>
    </div>

    <div id="professional-details">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="heading">Professional Details </h1>
                <hr>
            </div>
        </div>
        <div class="row" ng-if="!is_professional_details_complete">
            <div class="col-sm-12">
                <div class="alert alert-warning">
                    <h4>You have not filled your Professional Details. Please click on <b>Update </b> to complete it.</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <a class="btn button" ng-href="/account/professional-details">Update</a>
            </div>
        </div>

    </div>

    <div id="financial-details">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="heading">Financial Details </h1>
                <hr>
            </div>
        </div>
        <div class="row" ng-if="!is_financial_details_complete">
            <div class="col-sm-12">
                <div class="alert alert-warning">
                    <h4>You have not filled your Financial Details. Please click on <b>Update </b> to complete it.</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <a class="btn button" ng-href="/account/financial-details">Update</a>
            </div>
        </div>
    </div>
</section>