<div class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">Welcome</span></h1>

        </div>
        <div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Profile
        </div>
    </div>
</div>
<section id="profile">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="wizard">
                    <button class="btn" ng-class="{'active':ctrl.active==1,'completed':ctrl.active>1}" ng-click="goto('personal_details')" ng-disabled="ctrl.active<1" >Personal Details</button>
                    <button class="btn" ng-class="{'active':ctrl.active==2,'completed':ctrl.active>2}" ng-click="goto('professional_details')" ng-disabled="ctrl.active<2">Professional Details</button>
                    <button class="btn" ng-class="{'active':ctrl.active==3,'completed':ctrl.active>3}" ng-click="goto('financial_details')" ng-disabled="ctrl.active<3">Financial Details</button>
                    <button class="btn" ng-class="{'active':ctrl.active==4,'completed':ctrl.active>4}" ng-click="goto('references')" ng-if="iw.user.role=='borrower'" ng-disabled="ctrl.active<4">References</button>
                    <button class="btn" ng-class="{'active':ctrl.active==5,'completed':ctrl.active>5}" ng-click="goto('payment')" ng-if="iw.user.role=='borrower'" ng-disabled="ctrl.active<5">Payment</button>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <div ui-view></div>
            </div>
        </div>
    </div>
</section>