<section id="references">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="primary">Reference</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form name="financial_details">
                <fieldset >
                    <div class="row">
                        <div class="col-sm-12">
                            <legend class="primary">First Referrer Details</legend>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="referrer1_name">Full Name</label>
                            <input type="text" name="referrer1_name"  validator="required" class="form-control" id="referrer1_name" placeholder="Full Name"  ng-model="fields.referrer1.name">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="referrer1_relation">Relation</label>
                            <select class="form-control" name="referrer1_relation"  validator="required" ng-model="fields.referrer1.relation" id="referrer1_relation"
                                    ng-options="purpose.value as purpose.name for purpose in iw.config.relations">
                                <option value="">Select Relation</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-12 form-group">
                            <label for="referrer1_address">Complete Address</label>
                            <textarea id="referrer1_address" name="referrer1_address"  validator="required" placeholder="Address"  ng-model="fields.referrer1.address"  class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="referrer1_mobile">Mobile Number</label>
                            <input type="text" name="referrer1_mobile"  validator="required,number" class="form-control" id="referrer1_mobile" placeholder="Mobile Number"  ng-model="fields.referrer1.mobile">
                        </div>
                    </div>
                </fieldset>
                <fieldset >
                    <div class="row">
                        <div class="col-sm-12">
                            <legend class="primary">Second Referrer Details</legend>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="referrer2_name">Full Name</label>
                            <input type="text" name="referrer2_name"  validator="required" class="form-control" id="referrer2_name" placeholder="Full Name"  ng-model="fields.referrer2.name">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="referrer2_relation">Relation</label>
                            <select class="form-control"  validator="required" name="referrer2_relation" ng-model="fields.referrer2.relation" id="referrer2_relation"
                                    ng-options="purpose.value as purpose.name for purpose in iw.config.relations">
                                <option value="">Select Relation</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-12 form-group">
                            <label for="referrer2_address">Complete Address</label>
                            <textarea id="referrer2_address" name="referrer2_address"  validator="required" placeholder="Address"  ng-model="fields.referrer2.address"  class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="referrer2_mobile">Mobile Number</label>
                            <input type="text" name="referrer2_mobile"  validator="required,number" class="form-control" id="referrer2_mobile" placeholder="Mobile Number"  ng-model="fields.referrer2.mobile">
                        </div>
                    </div>
                </fieldset>
                <div class="form-group text-right">
                    <input class="btn  btn-primary" validation-submit="financial_details" ng-click="submit()" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</section>