<html>
<body>
<table style="width: 100%">
    <tr style="text-align: center">
        <td colspan="2"> investorsWallet.com</td>
    </tr>
    <tr>
        <td colspan="2">Hi {{user.first_name}} {{user.last_name}}, </td>
    </tr>
    <tr>
        <td colspan="2">We have processed your registration request. Please use {{verification_code}} to complete registration process.</td>
    </tr>

</table>

</body>
</html>