<table style="width: 100%">
    <tr style="text-align: center">
           <td colspan="2"> Smartnomics</td>
    </tr>
    <tr>
        <td colspan="2">Hi Admin, </td>
    </tr>
    <tr>
        <td colspan="2">You have received an following query from {{name}}</td>
    </tr>
    <tr>
        <td ><b>Subject: </b></td>
        <td > {{subject}}</td>
    </tr>
    <tr>
        <td colspan="2">{{message}}</td>
    </tr>
    <tr>
        <td><b >Contact Details:</b></td>
        <td>
            Email: {{email}}
            <br/>
            Mobile: {{mobile}}
        </td>
    </tr>
</table>
