rzslider {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4px;
    margin: 30px 0 15px 0;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

rzslider[disabled] {
    cursor: not-allowed;
}

rzslider[disabled] .rz-pointer {
    cursor: not-allowed;
    background-color: #d8e0f3;
}

rzslider span {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
}

rzslider .rz-base {
    width: 100%;
    height: 100%;
    padding: 0;
}

rzslider .rz-bar-wrapper {
    left: 0;
    z-index: 1;
    width: 100%;
    height: 32px;
    padding-top: 16px;
    margin-top: -16px;
    box-sizing: border-box;
}

rzslider .rz-bar {
    left: 0;
    z-index: 1;
    width: 100%;
    height: 4px;
    background: #d8e0f3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

rzslider .rz-bar.rz-selection {
    z-index: 2;
    background: #FCA72C;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

rzslider .rz-pointer {
    top: -14px;
    z-index: 3;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: #FCA72C;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

rzslider .rz-pointer:after {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 8px;
    height: 8px;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    content: '';
}

rzslider .rz-pointer:hover:after {
    background-color: #ffffff;
}

rzslider .rz-pointer.rz-active:after {
    background-color: #7E7F7E;
}

rzslider .rz-bubble {
    bottom: 16px;
    padding: 1px 3px;
    color: #55637d;
    cursor: default;
}

rzslider .rz-bubble.rz-selection {
    top: 16px;
}

rzslider .rz-bubble.rz-limit {
    color: #55637d;
}

rzslider .rz-ticks {
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    padding: 0 11px;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    justify-content: space-between;
}

rzslider .rz-ticks .tick {
    width: 10px;
    height: 10px;
    text-align: center;
    cursor: pointer;
    background: #d8e0f3;
    border-radius: 50%;
}

rzslider .rz-ticks .tick.selected {
    background: #FCA72C;
}

rzslider .rz-ticks .tick .tick-value {
    position: absolute;
    top: -30px;
    transform: translate(-50%, 0);
}