.validation-invalid{
    color: red;
}

.primary {
    color: rgb(252, 167, 44);
}

.ts {
    text-shadow: 1px 1px #000;
}

.justify{
    text-align:justify;
}

.iw-mt-m {
    margin-top: 15px !important;
}
.iw-mt-l {
    margin-top: 20px !important;
}
.iw-mt-xs {
    margin-top: 5px !important;
}
.iw-mt-s {
    margin-top: 10px !important;
}
.iw-mt-x {
    margin-top: 25px !important;
}

.iw-mb-s {
    margin-bottom: 10px !important;
}
.iw-mb-0 {
    margin-bottom: 0px !important;
}
.iw-mb-xs {
    margin-bottom: 5px !important;
}

.iw-p-xs {
    padding: 5px !important;
}
.iw-pt-xs {
    padding-top: 5px !important;
}
.iw-pb-xs {
    padding-bottom: 5px !important;
}
.iw-pb-l {
    padding-bottom: 20px !important;
}

.iw-pl-xs {
    padding-left: 5px !important;
}

.iw-pr-xs {
    padding-right: 5px !important;
}

.iw-p-s {
    padding: 10px !important;
}

.iw-pt-s {
    padding-top: 10px !important;
}
.iw-pt-l {
    padding-top: 20px !important;
}

.iw-pb-s {
    padding-bottom: 10px !important;
}

.iw-pl-s {
    padding-left: 10px !important;
}

.iw-pr-s {
    padding-right: 10px !important;
}


.borrowing-text{
    padding-left:50px !important;
}

.super-quick {
    width: 80px;
    border-bottom: 3px solid;
    border-bottom-color: rgb(252, 167, 44);
}

.link-color{
    color:#ddd;
}

a, a:hover, a:focus {
    color: rgb(252, 167, 44)
}



body, h1,h2,h3,h4,h5{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5px;
}

a:hover, a:focus {
    text-decoration: none;
    cursor: pointer;
}

.affix {
    top: 0;
    z-index: 9999 !important;
    right: 5.2%;
    width: 22%;
}

.affix ~ .fix-testimonial{
    position: relative;
    top: 50px;
}

.ms-img-warpper {
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.ms-img-content {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}


.title-text {
    color: white;
}

.breadcrumb{
    padding-bottom: 5px;
    color:#fff;
    background: transparent;
}

.button {
    border: 1px #FBA830 dotted;
    color: #000;
}

.module-padding {
    padding: 40px 0;
}

.divider {
    padding: 1px 0;
    width: 25%;
    background: rgb(252, 167, 44);
    margin: auto;
}

.jumbotron {
    padding-top: 130px;
    margin-bottom:0px !important;
    background-color: rgba(238, 238, 238, 0);
}
.jumbotron h1{
    margin-top:0px !important;
    margin-bottom: 0px !important;
}
.bg-image {
    background:  url("../images/pallet.jpg");
    box-shadow: 1px 1px 0px 1px #575757;
}
.bg-color{
    background: rgba(0, 0, 0, 0.4);

}

@media screen and (max-width: 767px){
    #how-it-works,#why-trust-us,#get-a-loan,#how-to-lend,#about-page,#privacy-policies{
        text-align:justify;
    }
    .jumbotron {
        padding-top: 90px;
    }
    .bottommargin{
        margin-bottom: 50px;
    }
}

.page-level-message {
    position: fixed;
    text-align: center;
    width: 100%;
    border-radius: 0;
}


/*===============header==================*/
#header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;
}

#header #logo img {
    float: left;
    padding: 14px 0;
}

#header .sign-in{
    background: black;
    padding: 8px 24px;
    color:white;
    display: inline-block;
    height: 35px;
    margin:0;
    border-radius: 6px;
    margin-bottom: 3px;
}

#header .badge:empty {
    display: -webkit-inline-box !important;
    background: white;
    color: black;
    border-radius: 4px;
    padding: 2px 7px;
}

#header .navbar-nav.nav>li>a {
    text-transform: uppercase;
    font-size: 16px;
    color:#fff
}

#header .navbar-nav.nav {
 margin-top: 15px;
}

#header .navbar-nav.nav>li>a:focus,#header .navbar-nav.nav>li>a:hover {
    background-color:transparent!important;
}
#header .navbar-nav.nav>li.active>a,#header .navbar-nav.nav>li.active>a:focus,#header .navbar-nav.nav>li.active>a:hover {
    color:rgb(252, 167, 44)!important;
}

#header .navbar{
    margin-bottom: 0px;
}

#header .navbar .navbar-header button{
    margin-top: 17px;
    margin-right: 0px;
}

#header .navbar .navbar-header button span{
    background-color: #fff;
}

@media (min-width: 991px) {
    #header #logo img {
        width: 300px;
    }
}
@media (min-width: 768px) and( max-width:990px) {
    #header #logo img {
        width: 120px;
    }
}
@media (max-width: 768px) {
    #header #logo img {
        width: 90px;
        padding: 20px 0;
    }
    #header .col-sm-12{
        padding: 0;
    }
}

.st-container,.st-pusher,.st-content {
    height: 100%;
}

.st-content,.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 75%;
    height: 100%;
    background: #5D5D5E;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.st-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: 300;
    font-size: 2em;
}

.st-menu ul li a {
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
    background: rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px rgba(0,0,0,0);
    color: #fff;
}

.st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
    display: none;
}

/*=============Footer================*/

#footer{
   padding-top:30px ;
    background-color: #e3e3e3;
}

#footer .main-footer a{
     color: rgb(139, 139, 139);
}
#footer .main-footer a:hover{
    color: rgb(115, 115, 115);
}
#footer .main-footer .disclaimer{
    text-align: justify;
    padding: 15px 0;
}
#footer .bottom-footer{
    background-color: #7c7f81;
    padding: 10px 0;
}

#footer .bottom-footer ul.navigation{
    padding-left: 0;
}
#footer .bottom-footer ul.navigation li {
    display: inline-block;
}
#footer .bottom-footer .navigation li a {
    padding: 0 5px;
    text-align: center;
    font-size: 15px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #e3e3e3;
}
#footer .bottom-footer .navigation li span {
    color: #e3e3e3;
}

#mobile-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
#mobile-footer ul.nav{
    background-color: #FFFFFF;
}
#mobile-footer ul.nav li{
    width: 33.33%;
    padding: 0;
    margin: 0;
}
#mobile-footer ul.nav li a{
   font-size: 15px;
    border-radius: 0px;
}

#mobile-footer .dropdown-menu {
    margin-bottom: 0;
    border-radius: 0;
}
#mobile-footer .nav .open>a,#mobile-footer .nav .open>a:focus, #mobile-footer .nav .open>a:hover{
    border-color:transparent;

}

/*==================Home page=====================================*/

#home-slider{
    padding-left: 0px;
    padding-right: 0px;
}

#description {
    background-color: #7c7f81;
}

#description h1 {
    color: white;
}

#description .media {
    padding: 20px 0;
}

#description .heading {
    padding-bottom: 20px;

}

#description .heading h1 {
    font-size: 36px;
    /* letter-spacing: 0px; */
    font-family: inherit;
    font-weight: 700;
    text-shadow: 1px 1px #4A4747;
}

#description .media-heading {
    font-size: 24px;
    color: #000 !important;
}

#description .media-body ul {
    list-style-type: none;
    padding-left: 0px;
}

#description .media-body ul li {
    /* line-height: 30px;*/
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
}

#description .btn-primary {
    border-radius: 0px;
    padding: 5px 13px;
    color: white;
    background-color: rgb(42, 42, 42);
    border: 1px solid #000 !important;
}

#description .btn-primary:hover {
    color: #fff;
    background-color: rgb(252, 167, 44);
    border-color: #204d74;
}

@media (max-width: 768px) {
    #description .media-left {
        float: none;
        min-width: 100%;
        display: block;
    }

    #description .media-object {
        margin: auto;
    }

    #description .media-body {
        display: block;
        text-align: center;
        width: 100%;
        padding-top: 30px;
    }
}



#counters {
    background-image: url("../images/pallet.jpg")
}

#counters a:hover {
    color: white;
}

#counters .counter {
    padding-bottom: 20px;
}

#counters .top {
    border-top: 2px solid #777777;
}

#counters .quote-padding {
    padding-top: 50px;
}

#counters .bottom {
    border-bottom: 2px solid #777777;
}

#counters .heading {
    font-size: 20px;

}

#counters  .ls {
    letter-spacing: 1px;
}

#counters .live-feed {
    padding: 4px 2px 4px 10px;
    background-color: white;
}

#counters .live-feed > .title-feed {
    font-size: 18px;
}

#counters .live-feed > .sub-title-feed {
    font-size: 18px;
}

.middle {
    background: rgb(252, 167, 44) !important;
    color: white;
}

#counters .live-feed > .feed-positive {
    color: #008000;
    font-weight: 700;
}

#counters .live-feed > .feed-negative {
    color: red;
    font-weight: 700;

}

#counters .live-feed.focused {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.57);
}

#counters .panel-body {
    margin: 0 15px;
}

#counters .counter-box {

    text-align: center;
    padding: 30px 0;
    background-color: #fff;
}

#counters .counter-text {
    padding-bottom: 5px;
}


#searching {
    background: url('../images/search_background.jpg') no-repeat;
    -webkit-backface-visibility: visible;
    background-size: 100% 100%;
    color: white;
}

#searching .form-group{
    margin-top: 0px;
}

#searching form>div{
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
}

#searching .nav{
    border-width: 0;
}

#searching .nav>li>a {
    padding: 5px 30px;
    background-color: rgba(0, 0, 0, 0.62);
    color:#fff;
    border-radius: 0;
}

#searching .nav>li.active>a,#searching .nav > li > a:focus, #searching .nav > li > a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.62);
}

#searching .button{
    background-color: green;
    border-radius: 0px;
    padding: 9px 35px;
    color: #fff;
}

#searching .nav>li {
    float: none !important;
}

#searching .nav>li {
    position: relative;
    display: -webkit-inline-box !important;
}

#searching .button:hover{
    color: #fff;
}

@media (max-width: 768px) {
    #searching .form-group{
        margin-top: 20px;
    }
    #searching form>div{
        padding: 15px;
    }
}


#testimonials {
    background: url('../images/testimonial_back.jpg') no-repeat;
    -webkit-backface-visibility: visible;
    background-size: 100% 100%;
    color: white;
}

#testimonials .testimonial {
    text-align: center;
    min-height: 110px;
    color: rgb(251, 168, 48);
}

#testimonials-slider .font-style {
    font-style: italic;
}

@media(max-width:768px){
    #testimonials .media-left{
        display: block;
    }
    #testimonials img.media-object{
        margin: auto;
        padding: 10px 0;
    }
    #testimonials .testimonial{
        text-align: justify;
    }
}


/*===================login page====================*/
#login-page .badge {
    padding: 5px;
    background: black;
    display: block !important;
    border-radius: 0px !important;
    height: 40px;
}
#login-page .box {
   background: #f1f1f1;
    padding: 0 15px;
    min-height: 265px;
    margin-bottom: 20px;
    border:1px solid #ccc;
}

#login-page .box .content{
    padding-top: 50px;
    padding-bottom: 30px;
}

#login-page .btn-primary {
    border-radius: 0px;
    padding: 5px 20px;
    color: white;
    background-color: rgb(42, 42, 42);
    border: 1px solid #000 !important;
}
#login-page .radio-inline{
    padding-left: 35px;
}

#login-page .control-label {
    padding-top:0px !important;
}
#login-page .register .content {

    min-height: 100px;
    margin-top: 15px;
}

/*====================how it works========================*/

#how-it-works .graphics {
    font-size: 60px;
    text-align: center;
    padding: 30px 0;
}

#how-it-works .content {
    padding: 30px 15px;
}

/*====================about===================*/

#about-page {

}

#about-page .heading h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 30px;
}

#about-page .content {
    padding: 30px 0;
}

/*====================about===================*/

#contact-page {

}

#contact-page #map {
    height: 300px;
    margin-top: 25px;;
}

#contact-page h1.heading {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-transform: uppercase;
}

#contact-page .content {
    padding: 30px 0;
}

#contact-page .content h3 {
    margin: 0;
}

/*===========================faq=======================*/

#faq {
    position: relative;
}
#faq ul.nav li.active {
    background-color: rgb(252, 167, 44);
}
#faq ul.nav li.active > a {
    color: #000;
}
#faq .panel-default {
    border:0px !important;
    border-radius:0px !important;
}
#faq .panel-body{
    border: 1px solid;
    margin-top: 10px;
}
#faq .panel-heading{
    padding:0 !important;
}
#faq .panel-heading h4{
    padding:12px 15px !important;
}
#faq .accordion-toggle:after {
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f068";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: white;
}
#faq .accordion-toggle.collapsed{
    background: #f2f2f2 !important;
    color:black !important;
    font-weight: 700;
}
#faq .accordion-toggle{
    background: rgb(252, 167, 44);
    color:white !important;
    font-weight: 700;
}
#faq .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";    /* adjust as needed, taken from bootstrap.css */
    color: rgb(252, 167, 44);
}



/*===========================terms-and-conditions=======================*/

#terms-and-conditions .heading h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 30px;
    text-transform: uppercase;
}

#terms-and-conditions .content {
    padding: 30px 0;
    text-align: justify;

}

#terms-and-conditions .content > div.col-sm-12 > div {
    padding: 15px 0;
}

/*===========================privacy-policies=======================*/

#privacy-policies .heading h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 30px;
    text-transform: uppercase;
}

#privacy-policies .content {
    text-align: justify;
    padding: 30px 0;
}

#privacy-policies .content > div.col-sm-12 > div {
    padding: 15px 0;
}

/*===========================responsible=======================*/

#code-verification .heading h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 30px;
    text-transform: uppercase;
}

#code-verification .content {
    padding: 30px 0;
    text-align: center;
}

/*====================contact page===============*/

#contact-page {

}

#contact-page button {
    border-radius: 0;
    padding: 10px 20px;
    border-style: dotted;
    border-color: #000;
    background-color: rgb(251, 168, 48);
}


/*=======================register page========================*/

.register ul li{
    line-height: 25px;
}

.register .box {
    background: #f1f1f1;
    padding: 0 15px;
    min-height: 200px !important;
    margin-bottom: 20px;
    border:1px solid #ccc;
}
.register .panel{
    border-radius: 0;
    background: #ddd;
}
.register .panel h4{
    margin-top: 0px;
}
.register  .panel-default {
    border-color: #AAA2A2!important;
}

.register .btn-primary {
    border-radius: 0px;
    padding: 5px 13px;
    color: white;
    background-color: rgb(42, 42, 42);
    border: 1px solid #000 !important;
}



/*=====================inputs==============*/

 select ,input[type='text'],input[type='password'],input[type='email']{
    border-radius: 0px!important;
    height: 40px!important;
    background-color: #ebeaea !important;
}
textarea{
    border-radius: 0px!important;
    background-color: #ebeaea !important;
}

.form-group>label{
    font-weight: 400!important;
}

legend{
    margin-top: 20px!important;
}

/*==================list styling===================*/

​.arrow-circle-o-right,.arrow-right{
    padding-left: 0;
}
.arrow-circle-o-right>li,.arrow-right >li {
    padding-left: 1.2em;
    list-style-type: none;
}
.arrow-circle-o-right>li:before, .arrow-right>li:before {
    content: "\f105";
    font-family: FontAwesome;
    display: inline-block;
    width: 1.2em;
    margin-left: -1.2em;
    color:rgb(252, 167, 44);
}
.arrow-right>li:before {
    content: "\f105";
}
.arrow-circle-o-right>li:before {
    content: "\f138";
}​


 /*=====================process-detail pages=================*/

 #process-page ul.listing {
     line-height: 20px;
     padding-left: 15px;
     list-style-type: none;
 }
 #process-page ul.listing i {
    padding-right: 15px;
}
.process-page-sidebar  li.active {
    background: rgb(252, 167, 44);
    color: #fff;
    font-weight: 700;
}
.process-page-sidebar  li.active  a{
    background: rgb(252, 167, 44);
    color: #fff;
}
.process-page-sidebar  li{
    background: #f2f2f2;
    margin-bottom: 10px ;
    font-weight: 700;
}
.process-page-sidebar  li a{
    padding: 15px;
    text-align: center;
    color: #000;
}

#under-construction{
    padding-top:20%;
    padding-bottom: 20%;

}
#under-construction h1{
    font-size: 48px;
}

.sidebar-testimonials{
    margin-bottom: 0px;
    background: #3c3c3c;
    padding: 15px;
    color: rgb(252, 167, 44);
}
.sidebar-testimonials .heading {
    color: #fff;
}
.sidebar-testimonials .testimonial {
    text-align: justify;
}

#profile{
    padding-bottom: 30px;
}

#profile h1.heading{
    margin: 0;
    font-size: 30px;
}
#profile .button {
    border-radius: 0px;
    padding: 5px 13px;
    color: white;
    background-color: rgb(42, 42, 42);
    border: 1px solid #000 !important;
}

#profile .button:hover {
    color: #fff;
    background-color: rgb(252, 167, 44);
    border-color: #204d74;
}

.wizard{
    text-align: center;
}
.wizard button{
    border-radius: 0px;
    padding: 15px 15px;
}

.wizard .btn.active.focus, .wizard .btn.active:focus, .wizard .btn.focus,.wizard .btn:active.focus, .wizard .btn:active:focus,.wizard .btn:focus{
    outline: 0!important;
}
.wizard button.focus, button:focus, button:hover{
    color: white!important;
    outline: 0!important;
}
.wizard button.active{
    color: white!important;
    background: rgba(252, 167, 44, 1);
}
.wizard button:disabled{
    background-color:rgba(221, 221, 221, 1);
    color: #000;
}
.wizard button.completed{
    background-color: rgba(0, 0, 0, 0.53);
    color: white;
}

.progress{
    background-color: #F5F5F5;
    border-radius: 0px;
    height: 30px;
    width: 200px;
    text-align: center;
}
.progress-bar{
    color: #000;
    padding-top: 5px;
}

.panel{
    border-radius: 0px;
}

.panel-default>.panel-heading {
    color: #FFFFFF;
    background-color: #989898;
    border-color: #ddd;
    border-radius: 0;
}

.loading-spiner-holder{
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 1200;
}
.loading-spiner{
    background-color: #ffffff;
    margin: auto;
    width: 200px;
    text-align: center;
    color: #000;
    padding: 10px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(87,87,87,0.45);
    -moz-box-shadow: 0px 5px 10px 0px rgba(87,87,87,0.45);
    box-shadow: 0px 5px 10px 0px rgba(87,87,87,0.45);
}

 /*=================for select2==================*/
.form-control .select2-choice {
    border: 0;
    border-radius: 2px;
}
.form-control .select2-choice .select2-arrow {
    border-radius: 0 2px 2px 0;
}

.form-control.select2-container {
    height: auto !important;
    padding: 3px;
    border-radius: 0;
}

.form-control.select2-container.select2-dropdown-open {
    border-color: #5897FB;
    border-radius: 3px 3px 0 0;
}

.form-control .select2-container.select2-dropdown-open .select2-choices {
    border-radius: 3px 3px 0 0;
}

.form-control.select2-container .select2-choices {
    border: 0 !important;
    border-radius: 0px;
}    `
