<div class="modal fade" id="emi-calculator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="EMICalculator">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">EMI Calculator</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form name="emi-calculator">
                            <div class="form-group">
                                <label for="amount">Amount</label>
                                <input type="text"  name="amount"  validator="required,number" class="form-control" ng-blur="calculateEMI()" ng-model="fields.amount" id="amount" placeholder="Amount">
                            </div>
                            <div class="form-group">
                                <label for="interest">Interest(%)</label>
                                <select id="interest" name="interest"  validator="required" ng-model="fields.interest" ng-change="calculateEMI()"  class="form-control" required
                                        ng-options="interest_rate.value as interest_rate.name for interest_rate in iw.config.interest_rates">
                                    <option value="" selected>Select Rate</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="duration">Loan Tenure (Months)</label>
                                <select id="duration" name="duration"  validator="required" ng-model="fields.duration" ng-change="calculateEMI()" class="form-control"
                                        ng-options="duration.value as duration.name for duration in iw.config.loan_durations">
                                    <option value="">Select Tenure</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-12 form-group"><strong>EMI (per month):</strong>  <i class="fa fa-inr"></i><span ng-if="fields.emi">{{fields.emi}}</span><span ng-if="!fields.emi">0</span></div>
                    <div class="col-sm-12 form-group"><strong>Total Amount Paid:</strong>  <i class="fa fa-inr"></i> <span ng-if="fields.total_amount">{{fields.total_amount}}</span><span ng-if="!fields.total_amount">0</span></div>
                    <div class="col-sm-12 form-group"><strong>Total Interest Paid :</strong>  <i class="fa fa-inr"></i><span ng-if="fields.total_interest">{{fields.total_interest}}</span><span ng-if="!fields.total_interest">0</span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

