<div class="modal fade" id="emi-calculator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Mention Amount to be Offered</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form name="">
                            <div class="form-group">
                                <label for="interest">Loan Request</label>
                                <input type="text"  class="form-control" id="interest" ng-model="amount" placeholder="Amount wants to bid ">
                            </div>
                            <div class="form-group">
                                <span class="text-danger" ng-if="errors.required">Amount is required</span>
                                <span class="text-danger" ng-if="errors.max">Maximum {{max_amount}} can be offered.</span>
                                <span class="text-danger" ng-if="errors.numeric">Only Numeric values can be accepted</span>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-warning" role="alert">Maximum amount that you can offer is {{max_amount}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="sendBiddingRequest()">Proceed</button>
            </div>
        </div>
    </div>
</div>

