<div class="modal fade" id="emi-calculator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Select loan request for which you are sending request </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form name="">
                            <div class="form-group">
                                <label for="interest">Loan Request</label>
                                <select id="interest" name="interest"  validator="required" ng-model="request_id" class="form-control" required
                                        ng-options="loan_request._id as loan_request.request_id for loan_request in loan_requests">
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                         <!--
                                Detail of selected loan request can be shown.
                         -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="sendReceiveBidRequest()">Proceed</button>
            </div>
        </div>
    </div>
</div>

