<!DOCTYPE html>
<html ng-app="investor">
<head>
    <base href="/">
    <meta name="google-site-verification" content="_BmjxdHhwZQWPbVU7ql099T0zFDJDsKDvnZoKP3ayBI" />
    <meta name="fragment" content="!"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>InvestorsWallet</title>
    <link href="/css/investors_wallet.min.css" rel="stylesheet">
    <link href="/css/select2.css" rel="stylesheet">
    <link href="/css/range-filter.css" rel="stylesheet">



    <script src="/js/lib/vendor.min.js"></script>
    <script src="/js/lib/select2.js"></script>

    <script src="/js/framework/investors_wallet.min.js"></script>

    <script src="/userInfo.js"></script>
    <script src="/clientConfig.js"></script>

    <script src="http://maps.google.com/maps/api/js"></script>
     <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
</head>
<body>
<!--<div class="loading-spiner-holder" loading ><div class="loading-spiner">We are working. Please Wait</div></div>-->
<div class="loading-spiner-holder" messages events="000500,000501,000101,000100">
    <div ng-if="message" class="alert text-center" ng-class="{'alert-warning':level=='warning','alert-success':level=='success','alert-danger':level=='error'}" role="alert">
        <button type="button" class="close" ng-click="removeMessage()"><span aria-hidden="true">&times;</span></button>
        {{message}}
    </div>
</div>
<div id="st-container" class="st-container">
    <nav class="st-menu st-effect-1" id="menu-1">
        <a ng-href="/"><h2><i class="primary fa fa-home fa-2x"></i></h2></a>
        <ul>
            <li ui-sref-active="active"><a ui-sref="how-to-borrow">Loans Made Simpler</a></li>
            <li ui-sref-active="active"><a ui-sref="how-to-lend">Investing</a></li>
            <li ui-sref-active="active"><a ui-sref="how-it-works">How it Works</a></li>
            <li ui-sref-active="active"><a ui-sref="why-trust-us">Why Trust US</a></li>
        </ul>
    </nav>

    <div class="st-pusher">
        <div class="st-content">
        <div ng-if="show_message" class="page-level-message" ng-controller="MessageCtrl">
            <div class="alert"
                 ng-class="{'alert-warning':level=='warning','alert-success':level=='success','alert-danger':level=='error'}">
                {{message}}
            </div>
        </div>
        <header id="header" class="container-fluid ">
            <div class="container">
                <div class="row">
                    <div class="hidden-xs text-right col-sm-12">
                        <p class="sign-in" >
                            <a ng-if="!iw.user.isLoggedIn" title="Login" ng-href="/login">
                                <i class="fa fa-spoon badge"></i>&nbsp;&nbsp;<span>Sign In</span>
                            </a>
                            <a ng-if="iw.user.isLoggedIn" title="Sign Out" ng-click="iw.user.logout()">
                                <i class="fa fa-spoon badge"></i>&nbsp;&nbsp;<span>Sign Out</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-transparent" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" id="st-trigger-effects" data-effect="st-effect-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a id="logo" href="/">
                                    <img class="img-responsive hidden-xs hidden-sm"  ng-src="{{'/v1443103436/logo.png'|image}}"alt="logo">
                                    <img class="img-responsive visible-xs visible-sm" ng-src="{{'/v1443103436/logo_mobile.png'|image}}"alt="logo" style="width: 120px;">
                                </a>
                            </div>
                            <div class="collapse navbar-collapse" id="collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li ui-sref-active="active"><a ui-sref="how-to-borrow">Loans Made Simpler</a></li>
                                    <li ui-sref-active="active"><a ui-sref="how-to-lend">Investing</a></li>
                                    <li ui-sref-active="active"><a ui-sref="how-it-works">How it Works</a></li>
                                    <li ui-sref-active="active"><a ui-sref="why-trust-us">Why Trust US</a></li>
                                    <li><a modal template="emi-calculator"> EMI Calculator</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        <div ui-view></div>

        <footer id="footer" class="hidden-xs">
            <div class="main-footer">
                <div class="container">
                    <div class="row visible-sm iw-mt-x">
                        <div class="col-sm-6">
                            <img ng-src="{{'/v1443813432/B_W_logo_yzjcne.png'|image}}" class="img-responsive">
                        </div>
                        <div class="col-sm-6 text-right">
                            <ul class="list-unstyled list-inline social-icons">
                                <li><a>
                                    <img ng-src="{{'/v1443814722/F_H_cuenu1.png'|image}}" class="img-responsive">

                                </a></li>
                                <li><a>
                                    <img ng-src="{{'/v1443814766/L_H_zy8sqi.png'|image}}" class="img-responsive">

                                </a></li>
                                <li><a>
                                    <img ng-src="{{'/v1443814772/T_H_b5vreh.png'|image}}" class="img-responsive">

                                </a></li>
                                <li><a>
                                    <img ng-src="{{'/v1443814749/I_H_rzmu2c.png'|image}}" class="img-responsive">

                                </a></li>
                                <li><a>
                                    <img ng-src="{{'/v1443814744/G_H_tzgwoh.png'|image}}" class="img-responsive">
                                </a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h4>About InvestorsWallet</h4>
                                    <ul class="list-unstyled">
                                        <li><a ng-href="/why-trust-us">Why Trust Us</a></li>
                                        <li><a ng-href="/management">Management</a></li>
                                        <li><a ng-href="/knowledge-center">Knowledge Center</a></li>
                                        <li><a ng-href="/media-room">Media Room</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <h4>Loans Made Simpler</h4>
                                    <ul class="list-unstyled">
                                        <li><a ng-href="/borrowing/how-to-borrow">How Borrowing Works</a></li>
                                        <li><a ng-href="/borrowing/responsible-borrowing">About Good Borrowing</a></li>
                                        <li><a ng-href="/faq">FAQ</a></li>
                                        <li><a modal template="emi-calculator"> EMI Calculator</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <h4>Lend your Money</h4>
                                    <ul class="list-unstyled">
                                        <li><a ng-href="/lending/how-to-lend">How Lending Works</a></li>
                                        <li><a ng-href="/lending/resposible-lending">What Makes A Good Lender</a></li>
                                        <li><a ng-href="/lending/risk-management">Risk Management</a></li>
                                        <li><a ng-href="/faq">FAQ</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4 hidden-sm">
                            <img ng-src="{{'/v1443813432/B_W_logo_yzjcne.png'|image}}" class="img-responsive">
                            <ul class="iw-mt-x list-unstyled list-inline social-icons">
                                <li><a>
                                    <img ng-src="{{'/v1443814722/F_H_cuenu1.png'|image}}" class="img-responsive">

                                </a></li>
                                <li><a>
                                    <img ng-src="{{'/v1443814766/L_H_zy8sqi.png'|image}}" class="img-responsive">

                                </a></li>
                                <li><a>
                                    <img ng-src="{{'/v1443814772/T_H_b5vreh.png'|image}}" class="img-responsive">

                                </a></li>
                                <li><a>
                                    <img ng-src="{{'/v1443814749/I_H_rzmu2c.png'|image}}" class="img-responsive">

                                </a></li>
                                <li><a>
                                    <img ng-src="{{'/v1443814744/G_H_tzgwoh.png'|image}}" class="img-responsive">
                                </a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="disclaimer"><b>Disclaimer:</b> InvestorsWallet is a peer to peer web platform that connects
                        lenders and borrowers online
                        for loans. Although InvestorsWallet verifies credentials of registered users on the site and provides
                        transparent,
                        structured, reliable and organized system of peer to peer transactions, it does not promise any loan
                        offers by lenders
                        nor does it assure any repayments by borrowers. Online users make offers / loan requests at their own
                        discretion with
                        understanding of the risks involved in such transactions. Please refer our terms of use and agreements
                        to understand.
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container ">
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <ul class="navigation">
                                <li><a ng-href="/terms-and-conditions">Terms of Use</a><span>|</span></li>
                                <li><a ng-href="/privacy-policies">Privacy Policy</a><span>|</span></li>
                                <li><a ng-href="/contact-us">Contact Us</a><span></span></li>
                            </ul>
                        </div>
                        <div class="col-sm-12">
                            <span class="primary copy-right">Copyright @ 2015 InvestorsWallet.com | All Rights Reserved </span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

<!--
        <footer id="mobile-footer" class="visible-xs">
            <div class="container">
                <div class="row">
                    <ul class="nav nav-pills ">
                        <li class="dropup">
                            <a class="btn  dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-th fa-2x"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><a ng-href="/terms-and-conditions">Terms of Use</a></li>
                                <li><a ng-href="/privacy-policies">Privacy Policy</a></li>
                                <li><a ng-href="/contact-us">Contact Us</a></li>
                            </ul>
                        </li>

                        <li class="dropup">
                            <a class="btn  dropdown-toggle"  id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user fa-2x"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu4" style="left: -25%;right: auto;">
                                <li><a href="/login">Login</a></li>
                            </ul>
                        </li>

                        <li class="dropup">
                            <a class="btn  dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropup
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu3" style="right: 0;left: auto;">
                                <li>
                                    <a>
                                        <img ng-src="{{'/v1443814722/F_H_cuenu1.png'|image}}" class="img-responsive">
                                    </a>
                                </li>
                                <li><a>
                                    <img ng-src="{{'/v1443814766/L_H_zy8sqi.png'|image}}" class="img-responsive">

                                </a></li>
                                <li><a>
                                    <img ng-src="{{'/v1443814772/T_H_b5vreh.png'|image}}" class="img-responsive">

                                </a></li>
                                <li><a>
                                    <img ng-src="{{'/v1443814749/I_H_rzmu2c.png'|image}}" class="img-responsive">

                                </a></li>
                                <li><a>
                                    <img ng-src="{{'/v1443814744/G_H_tzgwoh.png'|image}}" class="img-responsive">
                                </a></li>

                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </footer>
-->
        </div><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->
</body>
</html>