<div class="bg-image">
    <div class="bg-color">
        <div class="jumbotron text-center">
            <h1><span class="primary">Welcome</span></h1>
        </div>
        <div class="container breadcrumb">
            <a class="link-color" ng-href="/">Home</a>&nbsp;/&nbsp;Account
        </div>
    </div>
</div>
<section id="account">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 process-page-sidebar">
                <ul class="nav">
                    <li><a ng-href="/profile/personal-details">Update Profile</a></li>
                    <li ng-if="iw.user.role=='borrower'"><a ng-href="/loan-offers/list" >Browse Loan Offers</a> </li>
                    <li ng-if="iw.user.role=='borrower'" ui-sref-active="active"><a ui-sref="self_requests_list" >Your Loan Requests</a> </li>
                    <li ng-if="iw.user.role=='borrower'" ui-sref-active="active"><a ui-sref="add_loan_request" >Ask For New Loan</a> </li>

                    <li ng-if="iw.user.role=='lender'"><a ng-href="/loan-requests/list" >Browse Loan Requests</a> </li>
                    <li ng-if="iw.user.role=='lender'" ui-sref-active="active"><a ui-sref="self_offer" >Update Loan Offer</a> </li>
                    <li ng-if="iw.user.role=='lender'" ui-sref-active="active"><a ui-sref="bidding_requests" >View Bidding Requests</a> </li>
                    <li ng-if="iw.user.role=='lender'" ui-sref-active="active"><a ui-sref="bidding_history" >View Previous Bidding</a> </li>

                    <li><a ng-click="iw.user.logout()" >Logout</a> </li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-8">
                <div ui-view></div>
            </div>

        </div>
    </div>
</section>