<section id="account-section">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="primary">Bidding Requests</h3>
        </div>
    </div>
    <div class="row text-center" ng-if="!bidding_requests.length">
        <div class="col-sm-12">
            <h5> You have not received any bid requests </h5>
        </div>

    </div>

    <div class="table-responsive">
        <table class="table table-striped">

            <tr ng-repeat="bidding_request in bidding_requests|orderBy:'-created_on'">
                <td>
                    <p><i class="fa fa-inr"></i> {{bidding_request.amount}} </p>
                    <p><a ng-href="/borrower/{{bidding_request.borrower_id||bidding_request.requester_id}}">View Borrower Profile</a></p>
                    <!--
                                <p><a ng-href="/request/{{bidding_request.request_id}}">View Request Detail</a></p>
                    -->
                    <p>{{bidding_request.status}}</p>
                    <p>{{bidding_request.created_on|date:'medium'}}</p>
                </td>
                <td class="text-right" style="vertical-align: bottom;">
                    <a class="btn btn-success" ng-click="acceptBiddingRequest(bidding_request)">Accept</a>
                    <a class="btn btn-danger" ng-click="rejectBiddingRequest(bidding_request)">Reject</a>
                </td>

            </tr>
        </table>
    </div>

    <div class="row" ng-repeat="bidding_request in bidding_requests|orderBy:'-created_on'">
        <div>

            <div class="col-sm-6" >

            </div>
            <div class="col-sm-6 text-right" >
            </div>
        </div>

    </div>
</section>