<section id="account-section">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="primary">Biding History</h3>
        </div>
    </div>
    <div class="row text-center" ng-if="!bids.length">
        <div class="col-sm-12">
            <h5> No Biding History</h5>
        </div>
    </div>

   <div class="row" ng-if="bids.length">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Bidding ID</th>
                        <th>Amount</th>

                        <th>Status</th>

                    </tr>
                    <tr ng-repeat="bid in bids">
                        <td>
                            <p>{{bid.bid_id}}</p>
                            <p><a ng-href="/loan-request/{{bid.request_id}}">View Loan Request</a></p>
                        </td>
                        <td>{{bid.amount}}</td>
                        <td>{{bid.status|uppercase}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>