<section id="account-section">
    <div class="col-sm-12">
        <h3 class="title-text">Update Loan Offer</h3>
    </div>
    <div class="col-sm-12">
        <form name="loan_offer_form">
            <div class="row">
                <div class="col-sm-12  form-group">
                    <label for="loan_amount">Amount To Be Invested</label>
                    <input type="text" name="loan_amount" validator="required,number" class="form-control" id="loan_amount" placeholder="Loan Amount"  ng-model="fields.amount">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  form-group">
                    <label for="loan_purpose">Preferable Loan Purposes</label>
                    <select id="loan_purpose" name="purposes"  validator="required" ng-model="fields.purposes" class="form-control"
                            ng-options="purpose.value as purpose.name for purpose in iw.config.loan_purposes" placeholder="Select Loan Purposes" multiple multiselect >
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  form-group">
                    <label for="cities">Preferable Cities</label>
                    <select id="cities" name="cities"  validator="required" ng-model="fields.cities" class="form-control"
                            ng-options="purpose.value as purpose.name for purpose in iw.config.allowed_cities_for_borrower" placeholder="Select Cities" multiple multiselect>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  form-group">
                    <label for="loan_request_ratings">Preferable Loan Request Rating</label>
                    <select id="loan_request_ratings" name="loan_request_ratings"  validator="required" ng-model="fields.loan_request_ratings" class="form-control"
                            ng-options="purpose.value as purpose.name for purpose in iw.config.risk_ratings" placeholder="Select Loan Request Rating" multiple multiselect>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  col-md-6 form-group">
                    <label for="duration">Expected Durations Rate Range</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <select id="duration" name="duration_min"   validator="required" ng-model="fields.duration_min" class="form-control"
                                    ng-options="purpose.value as purpose.name for purpose in iw.config.loan_durations" validate-range="min" field-name="duration_max" >
                                <option value="" selected>Min Duration Rate</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select id="duration_max" name="duration_max" validator="required" ng-model="fields.duration_max" class="form-control"
                                    ng-options="purpose.value as purpose.name for purpose in iw.config.loan_durations"  validate-range="max" field-name="duration_min" >
                                <option value="" selected>Max Duration Rate</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12  col-md-6 form-group">
                    <label for="interest_rate">Expected Interest Rate Range</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <select id="interest_rate" name="interest_rate_min"   validator="required" ng-model="fields.interest_rate_min" class="form-control"
                                    ng-options="purpose.value as purpose.name for purpose in iw.config.interest_rates"  validate-range="min" field-name="interest_rate_max">
                                <option value="" selected>Min Interest Rate</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select id="interest_rate_max" name="interest_rate_max"  validator="required" ng-model="fields.interest_rate_max" class="form-control"
                                    ng-options="purpose.value as purpose.name for purpose in iw.config.interest_rates" validate-range="max" field-name="interest_rate_min" >
                                <option value="" selected>Max Interest Rate</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-sm-12 text-right">
                    <a class="btn  btn-primary" validation-submit="loan_offer_form" ng-click="submit()" type="submit" value="Submit">  Submit </a>
                </div>
            </div>
        </form>

    </div>
</section>


