<section id="financial_details">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="primary">Financial Details</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form name="financial_details">
                <div class="form-group">
                    <label for="amount">Amount To Be Invested</label>
                    <input type="text" name="amount"  validator="required,number" class="form-control" id="amount" placeholder="Amount To Be Invested"  ng-model="fields.amount">
                </div>
                <div class="form-group">
                    <label>Expected Interest Range </label>
                    <div class="col-sm-6">
                        <label for="min_interest">Minimum</label>
                        <select class="form-control" name="min_interest"  validator="required" id="min_interest" ng-model="fields.min_interest" states ng-options="state.value as state.name for state in states">
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="max_interest">Maximum</label>
                        <select class="form-control" name="max_interest"  validator="required" id="max_interest" ng-model="fields.max_interest" states ng-options="state.value as state.name for state in states">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="amount">Loan Purposes To Be Considered </label>
                    <select class="form-control" name="purposes"  validator="required" id="purposes" ng-model="fields.purposes" states ng-options="state.value as state.name for state in states" multiselect>
                    </select>
                </div>
                <div class="form-group">
                    <label for="amount">Risk Ratings To Be Considered </label>
                    <select class="form-control" name="ratings"  validator="required" id="ratings" ng-model="fields.ratings" states ng-options="state.value as state.name for state in states" multiselect>
                    </select>
                </div>
                <div class="form-group text-right">
                    <input class="btn  btn-primary" validation-submit="financial_details" ng-click="submit()" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>

</section>