<section id="account-section">
    <div class="col-sm-12">
        <h3 class="primary">New Loan Request Form</h3>
    </div>
    <div class="col-sm-12">
        <form name="loan_request_form">
            <div class="row">
                <div class="col-sm-12 col-md-6 form-group">
                    <label for="loan_purpose">Loan Purpose</label>
                    <select id="loan_purpose" name="purpose"  validator="required" ng-model="fields.purpose" class="form-control"
                            ng-options="purpose.value as purpose.name for purpose in iw.config.loan_purposes">
                        <option value="" selected>Select Purpose</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-6 form-group">
                    <label for="loan_amount">Loan Amount</label>
                    <input type="text" name="loan_amount"  validator="required,number" class="form-control" id="loan_amount" placeholder="Loan Amount"  ng-model="fields.amount">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  col-md-6 form-group">
                    <label for="duration">Duration</label>
                    <select id="duration" name="duration"  validator="required" ng-model="fields.duration" class="form-control"
                            ng-options="purpose.value as purpose.name for purpose in iw.config.loan_durations">
                        <option value="" selected>Select Duration</option>
                    </select>
                </div>
                <div class="col-sm-12  col-md-6 form-group">
                    <label for="interest_rate">Expected Interest Rate Range</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <select id="interest_rate" name="interest_rate_min"  validator="required" ng-model="fields.interest_rate_min" class="form-control"
                                    ng-options="purpose.value as purpose.name for purpose in iw.config.interest_rates" validate-range="min" field-name="interest_rate_max" >
                                <option value="" selected>Min Interest Rate</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select id="interest_rate_max" name="interest_rate" ng-change="validate_range('max')"  validator="required" ng-model="fields.interest_rate_max" class="form-control"
                                    ng-options="purpose.value as purpose.name for purpose in iw.config.interest_rates" validate-range="max" field-name="interest_rate_min">
                                <option value="" selected>Max Interest Rate</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12 text-right">
                    <a class="btn  btn-primary" validation-submit="loan_request_form" ng-click="submit()" type="submit" value="Submit">  Submit </a>
                </div>
            </div>
        </form>

    </div>
</section>



<form name="loan_request_form">

</form>
