<section id="account-section">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="primary">Loan Requests History</h3>
        </div>
    </div>
    <div class="row" ng-if="!loan_requests.length">
        <div class="col-sm-12">
            <h5> No Loan Request Made</h5>
        </div>
        <div class="col-sm-12 text-right">
            <a class="btn btn-default" ng-click="createRequest()">Create First Request Now</a>
        </div>
    </div>
    <div class="row iw-pb-l" ng-if="loan_requests.length">
        <div class="col-sm-12 text-right">
            <a class="btn btn-default" ng-click="createRequest()">Add Request</a>
        </div>
    </div>
    <div class="row" ng-if="loan_requests.length">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Loan ID</th>
                        <th>Amount</th>
                        <th>Interest Range</th>
                        <th>Let So Far</th>
                        <th>Status</th>
                        <!-- TODO: create prosivion to remove loan request  -->
                        <!--
                                                <th>Action</th>
                        -->
                    </tr>
                    <tr ng-repeat="request in loan_requests">
                        <td><a ng-href="/loan_request/{{request._id}}">{{request.request_id}}</a></td>
                        <td>{{request.amount}}</td>
                        <td>{{request.interest_rate_max}}% -{{request.interest_rate_max}}%</td>
                        <td><div  complete="offer.invested_portion" progress-bar></div></td>
                        <td>{{request.status|uppercase}}</td>
                        <!--
                        <td><a ng-click="deactivateRequest()">Deactivate</a></td>
                        -->
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>